## 前処理目的
* 住民基本台帳と人口動態調査を用いた人口・死亡・出生における分析用データの作成

## 各種ステップ

### [STEP0 事前準備](#STEP0)
1. 必要なモジュールのimport
2. 市区町村マスタの読み込み
3. 政令指定都市マスタの読み込み

### [STEP1 住民基本台帳による人口データの前処理](#STEP1)
1. 指定フォルダにあるファイル情報の抽出（リスト、grob、ワイルドカード）
2. ファイルの読み込み（read_csv、type、assign、pd.concat）
3. 必要なカラムのみに制限
4. 文字列から数値への変換（dtype、連鎖代入、copy()、str.replace、astype）
5. 市区町村コードの追加（str[]）
6. 不要な行の除去①市区町村コードが欠損（dropna）
7. 不要な行の除去②都道府県集計を除去=末尾が"000"（!、条件抽出）
8. 不要な行の除去③政令指定都市を除去（リストを用いた条件抽出）
9. 最新市区町村情報の付与（pd.merge(how=***、on=***)）
10. 最新市区町村でのグループ集計（groupby().統計量）

### [STEP2 人口動態調査による人口データの前処理](#STEP2)
1. 指定フォルダにあるファイル情報の抽出
2. ファイルの一括読み込み
3. 文字列から数値への変換（余計な文字列データの除去（全角スペース\u3000））
4. 市区町村コードの作成
5. 集計を最小単位にする（str.isdecimal()）
6. 最新市区町村へのマージ
7. 最新市区町村での再集計

### [STEP3 人口に関する可視化向けファイルの作成](#STEP3)
1. 住民基本台帳と人口動態調査の前処理データの横結合
2. 不要な行を削除
3. STEP3-2のデータから政令指定都市のみを抽出
4. 政令指定都市で再集計
5. 政令指定都市以外の集計データとの縦結合
6. 出生率・死亡率の算出
7. カラム名の修正
8. データの並び替え政令指定都市以外の集計データとの縦結合
9. ファイルの出力

### STEP0 事前準備<a name='STEP0'>

In [1]:
#{コード4.1 事前準備}
#必要なライブラリの読み込み
import pandas as pd
import numpy as np
import os 
from glob import glob
import datetime

In [2]:
#[コード4.2 市区町村マスタの読み込み]
# 市区町村マスタの読み込み
j5_mst = pd.read_csv('./in/municipalitiy_mst.csv',encoding='cp932',
                     dtype = {'変換前市区町村コード':'object','最新都道府県コード':'object','最新市区町村コード':'object','政令指定都市フラグ':'object'}
                    )
print('j5_mst'); display(j5_mst.head())
print(len(j5_mst))

j5_mst

  変換前市区町村コード 最新都道府県コード 最新都道府県名 最新市区町村コード 最新市区町村名 政令指定都市フラグ
0      01100        01     北海道     01100     札幌市         1
1      01101        01     北海道     01101  札幌市中央区       NaN
2      01102        01     北海道     01102   札幌市北区       NaN
3      01103        01     北海道     01103   札幌市東区       NaN
4      01104        01     北海道     01104  札幌市白石区       NaN

425

In [3]:
# {コード4.3 政令指定都市マスタの読み込み}
# 政令指定都市マスタの読み込み
seirei_mst = pd.read_csv('./in/seireicity_mst.csv',encoding='cp932',
                     dtype = {'変換前市区町村コード':'object','政令指定都市コード':'object'}
                    )
print('seirei_mst'); display(seirei_mst.head())
print(len(seirei_mst))

seirei_mst

  変換前市区町村コード 政令指定都市コード 政令指定都市名
0      01101     01100     札幌市
1      01102     01100     札幌市
2      01103     01100     札幌市
3      01104     01100     札幌市
4      01105     01100     札幌市

38

### STEP1 住民基本台帳による人口データの前処理<a name='STEP1'>

In [4]:
# {コード4.4 指定フォルダにあるファイル情報の抽出}
current_dir = './in/juuminkihon'

#外国人が対象になっているかどうかでカラムが変化することから、２００９～２０１２と2013～2018でデータを分ける
all_csv_files1_1 = [file
                      for file in glob(os.path.join(current_dir, '*ssjin*.xls'))]
all_csv_files1_2 = [file
                      for file in glob(os.path.join(current_dir, '*nsjin*.xls'))]

In [5]:
all_csv_files1_1

['./in/juuminkihon/0903ssjin.xls',
 './in/juuminkihon/1003ssjin.xls',
 './in/juuminkihon/1203ssjin.xls',
 './in/juuminkihon/1103ssjin.xls']

In [6]:
all_csv_files1_2

['./in/juuminkihon/1607nsjin.xls',
 './in/juuminkihon/1307nsjin.xls',
 './in/juuminkihon/1407nsjin.xls',
 './in/juuminkihon/1707nsjin.xls',
 './in/juuminkihon/1807nsjin.xls',
 './in/juuminkihon/1507nsjin.xls']

In [7]:
# {コード4.5 ファイルの読み込み1}
lists1=[]
for file in all_csv_files1_1:
    df1_1 = pd.read_excel(file, index_col=None, header=None, skiprows=4, 
                        names=('団体コード','都道府県名','市区町村名','人口_男','人口_女','人口_計','世帯数計','転入者数_計','出生者数','住民票記載数_その他_計','住民票記載数計','転出者数_計','死亡者数','住民票消除数_その他_計','住民票消除数計','住民票増減数','住民票増加率','自然増加数','自然増加率','社会増加数','社会増加率'
                               ),
                        dtype = {'団体コード':'object'}
                        ).assign(集計年 = "20"+file[-13:-11])
    lists1.append(df1_1)
for file in all_csv_files1_2:
    df1_2 = pd.read_excel(file, index_col=None, header=None, skiprows=4, 
                        names=('団体コード','都道府県名','市区町村名','人口_男','人口_女','人口_計','世帯数_日本人住民','世帯数_複数国籍','世帯数計','転入者数_国内','転入者数_国外','転入者数_計','出生者数','住民票記載数_その他_帰化等','住民票記載数_その他_その他','住民票記載数_その他_計','住民票記載数計','転出者数_国内','転出者数_国外','転出者数_計','死亡者数','住民票消除数_その他_国籍喪失','住民票消除数_その他_その他','住民票消除数_その他_計','住民票消除数計','住民票増減数','住民票増加率','自然増加数','自然増加率','社会増加数','社会増加率'
                               ),
                        dtype = {'団体コード':'object'}
                        ).assign(集計年 = "20"+file[-13:-11])
    lists1.append(df1_2)
df1_base1 = pd.concat(lists1, axis=0, sort=False)

print('df1_base1'); display(df1_base1.head())
print(len(df1_base1))

df1_base1

,団体コード,都道府県名,市区町村名,人口_男,人口_女,人口_計,世帯数計,転入者数_計,出生者数,住民票記載数_その他_計,...,世帯数_日本人住民,世帯数_複数国籍,転入者数_国内,転入者数_国外,住民票記載数_その他_帰化等,住民票記載数_その他_その他,転出者数_国内,転出者数_国外,住民票消除数_その他_国籍喪失,住民票消除数_その他_その他
0,NaN,合計,NaN,62105515,64970668,127076183,52877802,5510512,1088488,88772,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,010006,北海道,NaN,2631725,2911831,5543556,2637145,272970,40936,2390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,011002,北海道,札幌市,888900,996039,1884939,944872,127901,14739,416,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,011011,北海道,札幌市中央区,93434,112818,206252,118974,21839,1617,72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,011029,北海道,札幌市北区,130642,142935,273577,134723,16623,2107,67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3765

In [8]:
#{コード4.6 必要なカラムのみに制限}

df1_base2 = df1_base1[['集計年','団体コード','人口_計']]
df1_base2

      集計年   団体コード       人口_計
0    2009     NaN  127076183
1    2009  010006    5543556
2    2009  011002    1884939
3    2009  011011     206252
4    2009  011029     273577
5    2009  011037     252688
6    2009  011045     203579
7    2009  011053     208476
8    2009  011061     147397
9    2009  011070     209883
10   2009  011088     129604
11   2009  011096     138794
12   2009  011100     114689
13   2009  012025     284910
14   2009  012033     135500
15   2009  012041     354559
16   2009  012050      96050
17   2009  012068     187569
18   2009  012076     168532
19   2009  012084     125977
20   2009  012092      11633
21   2009  012106      91191
22   2009  012114      39420
23   2009  012122      25459
24   2009  012131     173572
25   2009  012149      39527
26   2009  012157      26938
27   2009  012165      17610
28   2009  012173     122344
29   2009  012181      13258
..    ...     ...        ...
347  2015  473081      13600
348  2015  473111      10409
349  2015  473138       5865
350  2015  473146      11376
351  2015  473154       4715
352  2015  473201     153267
353  2015  473243      40686
354  2015  473251      13747
355  2015  473260      28292
356  2015  473278      16604
357  2015  473286      19141
358  2015  473294      34797
359  2015  473405     100701
360  2015  473481      18551
361  2015  473502      37034
362  2015  473537        678
363  2015  473545        904
364  2015  473553        756
365  2015  473561        405
366  2015  473570       1261
367  2015  473588        574
368  2015  473596       1304
369  2015  473600       1535
370  2015  473618       8262
371  2015  473626      29437
372  2015  473707       1216
373  2015  473758       1216
374  2015  473804       5644
375  2015  473812       4153
376  2015  473821       1491

[3765 rows x 3 columns]

In [9]:
# {コード4.7 市区町村コードの追加}
df1_base3=df1_base2.assign(市区町村コード=df1_base2['団体コード'].str[0:5])

df1_base3.head(3)

    集計年   団体コード       人口_計 市区町村コード
0  2009     NaN  127076183     NaN
1  2009  010006    5543556   01000
2  2009  011002    1884939   01100

In [10]:
# {コード4.8 NaN のレコードの除去1}
df1_base4 = df1_base3.dropna(subset=['市区町村コード']) 
df1_base4.head(3)

    集計年   団体コード     人口_計 市区町村コード
1  2009  010006  5543556   01000
2  2009  011002  1884939   01100
3  2009  011011   206252   01101

In [11]:
# {コード4.9 末尾が000 のレコードの除去2}
df1_base5=df1_base4[df1_base4['団体コード'].str[2:5] != "000"]

df1_base5.head(3)

    集計年   団体コード     人口_計 市区町村コード
2  2009  011002  1884939   01100
3  2009  011011   206252   01101
4  2009  011029   273577   01102

In [12]:
# {コード4.10 政令指定都市の除去}
j5_seirei = j5_mst.最新市区町村コード[(j5_mst['政令指定都市フラグ'] == '1')]
           
print(j5_seirei.head(3))

df1_base6 = df1_base5

for seirei in j5_seirei:
    df1_base6 = df1_base6[(df1_base6['市区町村コード'] != seirei)]

df1_base6.head(3)

0      01100
300    14100
319    14130
Name: 最新市区町村コード, dtype: object

    集計年   団体コード    人口_計 市区町村コード
3  2009  011011  206252   01101
4  2009  011029  273577   01102
5  2009  011037  252688   01103

In [13]:
#{コード4.11 最新市区町村情報の付与}

df1_base7 = pd.merge(df1_base6, j5_mst, left_on='市区町村コード', right_on='変換前市区町村コード', how='inner')
df1_base7

,集計年,団体コード,人口_計,市区町村コード,変換前市区町村コード,最新都道府県コード,最新都道府県名,最新市区町村コード,最新市区町村名,政令指定都市フラグ
0,2009,011011,206252,01101,01101,01,北海道,01101,札幌市中央区,NaN
1,2010,011011,209934,01101,01101,01,北海道,01101,札幌市中央区,NaN
2,2012,011011,216307,01101,01101,01,北海道,01101,札幌市中央区,NaN
3,2011,011011,212666,01101,01101,01,北海道,01101,札幌市中央区,NaN
4,2016,011011,228172,01101,01101,01,北海道,01101,札幌市中央区,NaN
5,2013,011011,219066,01101,01101,01,北海道,01101,札幌市中央区,NaN
6,2014,011011,222392,01101,01101,01,北海道,01101,札幌市中央区,NaN
7,2017,011011,229800,01101,01101,01,北海道,01101,札幌市中央区,NaN
8,2018,011011,231394,01101,01101,01,北海道,01101,札幌市中央区,NaN
9,2015,011011,224928,01101,01101,01,北海道,01101,札幌市中央区,NaN
10,2009,011029,273577,01102,01102,01,北海道,01102,札幌市北区,NaN
11,2010,011029,274416,01102,01102,01,北海道,01102,札幌市北区,NaN
12,2012,011029,276416,01102,01102,01,北海道,01102,札幌市北区,NaN
13,2011,011029,275360,01102,01102,01,北海道,01102,札幌市北区,NaN
14,2016,011029,280894,01102,01102,01,北海道,01102,札幌市北区,NaN
15,2013,011029,276871,01102,01102,01,北海道,01102,札幌市北区,NaN
16,2014,011029,278827,01102,01102,01,北海道,01102,札幌市北区,NaN
17,2017,011029,282050,01102,01102,01,北海道,01102,札幌市北区,NaN
18,2018,011029,282525,01102,01102,01,北海道,01102,札幌市北区,NaN
19,2015,011029,280033,01102,01102,01,北海道,01102,札幌市北区,NaN
20,2009,011037,252688,01103,01103,01,北海道,01103,札幌市東区,NaN
21,2010,011037,252733,01103,01103,01,北海道,01103,札幌市東区,NaN
22,2012,011037,253912,01103,01103,01,北海道,01103,札幌市東区,NaN
23,2011,011037,253087,01103,01103,01,北海道,01103,札幌市東区,NaN
24,2016,011037,258469,01103,01103,01,北海道,01103,札幌市東区,NaN
25,2013,011037,255094,01103,01103,01,北海道,01103,札幌市東区,NaN
26,2014,011037,256240,01103,01103,01,北海道,01103,札幌市東区,NaN
27,2017,011037,259818,01103,01103,01,北海道,01103,札幌市東区,NaN
28,2018,011037,260507,01103,01103,01,北海道,01103,札幌市東区,NaN
29,2015,011037,257110,01103,01103,01,北海道,01103,札幌市東区,NaN
...,...,...,...,...,...,...,...,...,...,...
3457,2016,015202,2425,01520,01520,01,北海道,01520,幌延町,NaN
3458,2013,015202,2554,01520,01520,01,北海道,01520,幌延町,NaN
3459,2014,015202,2533,01520,01520,01,北海道,01520,幌延町,NaN
3460,2017,015202,2404,01520,01520,01,北海道,01520,幌延町,NaN
3461,2018,015202,2373,01520,01520,01,北海道,01520,幌延町,NaN
3462,2015,015202,2478,01520,01520,01,北海道,01520,幌延町,NaN
3463,2012,141518,172559,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3464,2011,141518,172481,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3465,2016,141518,170819,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3466,2013,141518,172247,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3467,2014,141518,172098,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3468,2017,141518,170016,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3469,2018,141518,169093,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3470,2015,141518,171185,14151,14151,14,神奈川県,14151,相模原市緑区,NaN
3471,2012,141526,260713,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3472,2011,141526,260474,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3473,2016,141526,264594,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3474,2013,141526,260578,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3475,2014,141526,261937,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3476,2017,141526,264876,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3477,2018,141526,265397,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3478,2015,141526,263604,14152,14152,14,神奈川県,14152,相模原市中央区,NaN
3479,2012,141534,267651,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3480,2011,141534,266801,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3481,2016,141534,269781,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3482,2013,141534,267985,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3483,2014,141534,269145,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3484,2017,141534,269575,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3485,2018,141534,270153,14153,14153,14,神奈川県,14153,相模原市南区,NaN
3486,2015,141534,269632,14153,14153,14,神奈川県,14153,相模原市南区,NaN

In [14]:
# {コード4.12 merge 実施時の確認例}
df1_che1 = pd.merge(df1_base6, j5_mst, left_on='市区町村コード', right_on='変換前市区町村コード', how='left')
df1_che2 = df1_che1[df1_che1["最新市区町村コード"].isnull()]
df1_che3 = df1_che2[(df1_che2['市区町村コード'].str[3:4] != "3") & (df1_che2['市区町村コード'].str[4:5] != "0")]

In [15]:
# {コード4.13 最新市区町村でのグループ集計}
df1_base8 = df1_base7.groupby(['集計年','最新都道府県コード','最新都道府県名','最新市区町村コード','最新市区町村名'],
                              as_index=False
                             ).sum()
print('df1_base8'); display(df1_base8.head())
print(len(df1_base8))

df1_base8

    集計年 最新都道府県コード 最新都道府県名 最新市区町村コード 最新市区町村名    人口_計
0  2009        01     北海道     01101  札幌市中央区  206252
1  2009        01     北海道     01102   札幌市北区  273577
2  2009        01     北海道     01103   札幌市東区  252688
3  2009        01     北海道     01104  札幌市白石区  203579
4  2009        01     北海道     01105  札幌市豊平区  208476

3486

### STEP2 人口動態調査による人口データの前処理<a name='STEP2'>

In [16]:
#{コード4.14 指定フォルダにあるファイル情報の抽出}
current_dir = './in/jinkodoutai'

all_csv_files2 = [file for current_dir, subdir, files in os.walk(current_dir)
                     for file in glob(os.path.join(current_dir, '*.csv'))]

all_csv_files2

['./in/jinkodoutai/2013/a020047.csv',
 './in/jinkodoutai/2013/a020013.csv',
 './in/jinkodoutai/2013/a020001.csv',
 './in/jinkodoutai/2013/a020014.csv',
 './in/jinkodoutai/2014/a020047.csv',
 './in/jinkodoutai/2014/a020013.csv',
 './in/jinkodoutai/2014/a020001.csv',
 './in/jinkodoutai/2014/a020014.csv',
 './in/jinkodoutai/2015/a020047.csv',
 './in/jinkodoutai/2015/a020013.csv',
 './in/jinkodoutai/2015/a020001.csv',
 './in/jinkodoutai/2015/a020014.csv',
 './in/jinkodoutai/2012/a020047.csv',
 './in/jinkodoutai/2012/a020013.csv',
 './in/jinkodoutai/2012/a020001.csv',
 './in/jinkodoutai/2012/a020014.csv',
 './in/jinkodoutai/2009/a020047.csv',
 './in/jinkodoutai/2009/a020013.csv',
 './in/jinkodoutai/2009/a020001.csv',
 './in/jinkodoutai/2009/a020014.csv',
 './in/jinkodoutai/2017/a020047.csv',
 './in/jinkodoutai/2017/a020013.csv',
 './in/jinkodoutai/2017/a020001.csv',
 './in/jinkodoutai/2017/a020014.csv',
 './in/jinkodoutai/2010/a020047.csv',
 './in/jinkodoutai/2010/a020013.csv',
 './in/jinkodoutai/2010/a020001.csv',
 './in/jinkodoutai/2010/a020014.csv',
 './in/jinkodoutai/2018/a020047.csv',
 './in/jinkodoutai/2018/a020013.csv',
 './in/jinkodoutai/2018/a020001.csv',
 './in/jinkodoutai/2018/a020014.csv',
 './in/jinkodoutai/2011/a020047.csv',
 './in/jinkodoutai/2011/a020013.csv',
 './in/jinkodoutai/2011/a020001.csv',
 './in/jinkodoutai/2011/a020014.csv',
 './in/jinkodoutai/2016/a020047.csv',
 './in/jinkodoutai/2016/a020013.csv',
 './in/jinkodoutai/2016/a020001.csv',
 './in/jinkodoutai/2016/a020014.csv']

In [17]:
# {コード4.15 ファイルの一括読み込み}
lists2=[]
for files2 in all_csv_files2:
    df2 = pd.read_csv(files2, skiprows=5, encoding='cp932',
                      names=('地域情報','出生数','出生数_2500g未満','死亡数','死亡数_乳児','死亡数_新生児','死産数_自然死産','死産数_人工死産','周産期死亡_総数',
                            '周産期死亡_22週以後の死産数','周産期死亡_早期新生児死亡数','婚姻件数','離婚件数'
                            ),
                    ).assign(集計年 = "20"+files2[-14:-12])
    lists2.append(df2)
df2_base1 = pd.concat(lists2, axis=0, sort=False)

df2_base1.head(3)

,地域情報,出生数,出生数_2500g未満,死亡数,死亡数_乳児,死亡数_新生児,死産数_自然死産,死産数_人工死産,周産期死亡_総数,周産期死亡_22週以後の死産数,周産期死亡_早期新生児死亡数,婚姻件数,離婚件数,集計年
0,４７沖 縄,17209,1957,10956,30,23,219,224,77,66,11,8803,3651,2013
1,市 部,13439,1508,8266,23,17,171,180,59,50,9,6812,2887,2013
2,郡 部,3770,449,2690,7,6,48,44,18,16,2,1991,764,2013

In [18]:
# {コード4.16 文字列から数値への変換}
#スキル：余計な文字列データの除去（全角スペース\u3000）
df2_base2 = df2_base1.copy()

df2_base2['出生数_int'] = df2_base2['出生数'].replace('-', '0').replace('　　　', '0').fillna(0.0).astype(np.int64)
df2_base2['死亡数_int'] = df2_base2['死亡数'].replace('-', '0').replace('　　　', '0').fillna(0.0).astype(np.int64)

print(df2_base2['出生数_int'].dtype)
print(df2_base2['死亡数_int'].dtype)

int64
int64

In [19]:
# {コード4.17 市区町村コードの作成}
df2_base3=df2_base2.assign(市区町村コード=df2_base2['地域情報'].str[0:5])

df2_base3.head(3)

,地域情報,出生数,出生数_2500g未満,死亡数,死亡数_乳児,死亡数_新生児,死産数_自然死産,死産数_人工死産,周産期死亡_総数,周産期死亡_22週以後の死産数,周産期死亡_早期新生児死亡数,婚姻件数,離婚件数,集計年,出生数_int,死亡数_int,市区町村コード
0,４７沖 縄,17209,1957,10956,30,23,219,224,77,66,11,8803,3651,2013,17209,10956,４７沖 縄
1,市 部,13439,1508,8266,23,17,171,180,59,50,9,6812,2887,2013,13439,8266,市 部
2,郡 部,3770,449,2690,7,6,48,44,18,16,2,1991,764,2013,3770,2690,郡 部

In [20]:
# {コード4.18 レコードを市区町村のみにする}
#数字のみのレコードにするメソッド：str.isdecimal()

df2_base4 = df2_base3[df2_base3['市区町村コード'].str.isdecimal() == True]

df2_base4.head(3)

,地域情報,出生数,出生数_2500g未満,死亡数,死亡数_乳児,死亡数_新生児,死産数_自然死産,死産数_人工死産,周産期死亡_総数,周産期死亡_22週以後の死産数,周産期死亡_早期新生児死亡数,婚姻件数,離婚件数,集計年,出生数_int,死亡数_int,市区町村コード
10,47201那覇市,3495,350,2492,4,2,49,55,18,16,2,1902,789,2013,3495,2492,47201
11,47205宜野湾市,1282,153,547,5,3,15,13,7,6,1,683,276,2013,1282,547,47205
12,47207石垣市,666,63,402,1,1,9,10,2,1,1,334,173,2013,666,402,47207

In [21]:
#{コード4.19 最新市区町村へのマージ}
df2_base5 = pd.merge(df2_base4, j5_mst, left_on='市区町村コード', right_on='変換前市区町村コード', how='inner')

df2_base5.head(3)

,地域情報,出生数,出生数_2500g未満,死亡数,死亡数_乳児,死亡数_新生児,死産数_自然死産,死産数_人工死産,周産期死亡_総数,周産期死亡_22週以後の死産数,...,集計年,出生数_int,死亡数_int,市区町村コード,変換前市区町村コード,最新都道府県コード,最新都道府県名,最新市区町村コード,最新市区町村名,政令指定都市フラグ
0,47201那覇市,3495,350,2492,4,2,49,55,18,16,...,2013,3495,2492,47201,47201,47,沖縄県,47201,那覇市,NaN
1,47201那覇市,3306,360,2520,10,2,36,58,8,7,...,2014,3306,2520,47201,47201,47,沖縄県,47201,那覇市,NaN
2,47201那覇市,3296,321,2633,6,2,51,33,13,12,...,2015,3296,2633,47201,47201,47,沖縄県,47201,那覇市,NaN

In [22]:
#{コード4.20 最新市区町村での再集計}

df2_base6 = df2_base5.groupby(['集計年','最新都道府県コード','最新都道府県名','最新市区町村コード','最新市区町村名'], as_index=False).sum()

df2_base6.head(3)

    集計年 最新都道府県コード 最新都道府県名 最新市区町村コード 最新市区町村名  出生数_int  死亡数_int
0  2009        01     北海道     01101  札幌市中央区     1580     1571
1  2009        01     北海道     01102   札幌市北区     2052     2057
2  2009        01     北海道     01103   札幌市東区     2221     1860

### STEP3 人口に関するデータ分析向けファイルの作成<a name='STEP3'>

In [23]:
# {コード4.21 住民基本台帳と人口動態調査の前処理データの横結合}
df3_base1 = pd.merge(df1_base8, df2_base6, on=['集計年','最新都道府県コード','最新都道府県名','最新市区町村コード','最新市区町村名'] ,
                     how='outer'
                    )
print(df3_base1)

#差分の調査
df3_che1 = df3_base1[df3_base1["人口_計"].isnull()]
df3_che2 = df3_base1[df3_base1["出生数_int"].isnull()]

print(df3_che1)
print(df3_che2)

       集計年 最新都道府県コード 最新都道府県名 最新市区町村コード  最新市区町村名      人口_計  出生数_int  死亡数_int
0     2009        01     北海道     01101   札幌市中央区  206252.0     1580     1571
1     2009        01     北海道     01102    札幌市北区  273577.0     2052     2057
2     2009        01     北海道     01103    札幌市東区  252688.0     2221     1860
3     2009        01     北海道     01104   札幌市白石区  203579.0     1831     1581
4     2009        01     北海道     01105   札幌市豊平区  208476.0     1721     1540
5     2009        01     北海道     01106    札幌市南区  147397.0      871     1362
6     2009        01     北海道     01107    札幌市西区  209883.0     1685     1654
7     2009        01     北海道     01108   札幌市厚別区  129604.0      819      934
8     2009        01     北海道     01109   札幌市手稲区  138794.0      953     1091
9     2009        01     北海道     01110   札幌市清田区  114689.0      773      856
10    2009        01     北海道     01202      函館市  284910.0     1889     3322
11    2009        01     北海道     01203      小樽市  135500.0      729     1752
12    2009        01     北海道     01204      旭川市  354559.0     2529     3422
13    2009        01     北海道     01205      室蘭市   96050.0      618     1169
14    2009        01     北海道     01206      釧路市  187569.0     1378     1878
15    2009        01     北海道     01207      帯広市  168532.0     1429     1351
16    2009        01     北海道     01208      北見市  125977.0      898     1098
17    2009        01     北海道     01209      夕張市   11633.0       46      214
18    2009        01     北海道     01210     岩見沢市   91191.0      556      949
19    2009        01     北海道     01211      網走市   39420.0      342      373
20    2009        01     北海道     01212      留萌市   25459.0      217      278
21    2009        01     北海道     01213     苫小牧市  173572.0     1591     1464
22    2009        01     北海道     01214      稚内市   39527.0      309      388
23    2009        01     北海道     01215      美唄市   26938.0      118      391
24    2009        01     北海道     01216      芦別市   17610.0       78      275
25    2009        01     北海道     01217      江別市  122344.0      683      986
26    2009        01     北海道     01218      赤平市   13258.0       57      249
27    2009        01     北海道     01219      紋別市   25248.0      137      299
28    2009        01     北海道     01220      士別市   22666.0      133      278
29    2009        01     北海道     01221      名寄市   30919.0      255      320
...    ...       ...     ...       ...      ...       ...      ...      ...
3459  2018        47     沖縄県     47306     今帰仁村    9451.0       66      129
3460  2018        47     沖縄県     47308      本部町   13271.0       94      158
3461  2018        47     沖縄県     47311      恩納村   10240.0       87      109
3462  2018        47     沖縄県     47313     宜野座村    5962.0       61       59
3463  2018        47     沖縄県     47314      金武町   11432.0      135      137
3464  2018        47     沖縄県     47315      伊江村    4580.0       42       55
3465  2018        47     沖縄県     47324      読谷村   40842.0      387      329
3466  2018        47     沖縄県     47325     嘉手納町   13663.0      137      138
3467  2018        47     沖縄県     47326      北谷町   28561.0      326      224
3468  2018        47     沖縄県     47327     北中城村   16785.0      176      120
3469  2018        47     沖縄県     47328      中城村   20521.0      249      146
3470  2018        47     沖縄県     47329      西原町   34694.0      315      216
3471  2018        47     沖縄県     47348     与那原町   19477.0      281      133
3472  2018        47     沖縄県     47350     南風原町   38441.0      564      229
3473  2018        47     沖縄県     47353     渡嘉敷村     691.0       10        8
3474  2018        47     沖縄県     47354     座間味村     908.0       12        6
3475  2018        47     沖縄県     47355      粟国村     705.0        6       15
3476  2018        47     沖縄県     47356     渡名喜村     376.0        3        3
3477  2018        47     沖縄県     47357     南大東村    1251.0       15       10
3478  2018        47     沖縄県     47358     北大東村     568.0       12        4
3479  2018        47     沖縄県     47359     伊平屋村    1244.0       11       18
3480  2018        47     沖縄県     47360     伊是名村    1453.0       11       27
3481  2018        47     沖縄県     47361     久米島町    7945.0       69      104
3482  2018        47     沖縄県     47362     八重瀬町   30840.0      394      251
3483  2018        47     沖縄県     47375     多良間村    1151.0        5       10
3484  2018        47     沖縄県     47381      竹富町    4229.0       51       47
3485  2018        47     沖縄県     47382     与那国町    1698.0       21       20
3486  2010        14    神奈川県     14151   相模原市緑区       NaN     1076      932
3487  2010        14    神奈川県     14152  相模原市中央区       NaN     1722     1264
3488  2010        14    神奈川県     14153   相模原市南区       NaN     1799     1306

[3489 rows x 8 columns]
       集計年 最新都道府県コード 最新都道府県名 最新市区町村コード  最新市区町村名  人口_計  出生数_int  死亡数_int
3486  2010        14    神奈川県     14151   相模原市緑区   NaN     1076      932
3487  2010        14    神奈川県     14152  相模原市中央区   NaN     1722     1264
3488  2010        14    神奈川県     14153   相模原市南区   NaN     1799     1306
Empty DataFrame
Columns: [集計年, 最新都道府県コード, 最新都道府県名, 最新市区町村コード, 最新市区町村名, 人口_計, 出生数_int, 死亡数_int]
Index: []

In [24]:
# {コード4.22 不要な行を削除}
# 相模原市を除去していい理由＝2010年4月に政令指定都市となり、1月・4月締めでデータの集計期間が異なるため
df3_base2 = df3_base1.dropna(subset=['人口_計']) 

df3_base2.head(3)

    集計年 最新都道府県コード 最新都道府県名 最新市区町村コード 最新市区町村名      人口_計  出生数_int  死亡数_int
0  2009        01     北海道     01101  札幌市中央区  206252.0     1580     1571
1  2009        01     北海道     01102   札幌市北区  273577.0     2052     2057
2  2009        01     北海道     01103   札幌市東区  252688.0     2221     1860

In [25]:
# {コード4.23 政令指定都市で再集計}
df3_sei1 = pd.merge(df3_base2, seirei_mst, left_on='最新市区町村コード', right_on='変換前市区町村コード', how='inner')
df3_sei1.head(3)

,集計年,最新都道府県コード,最新都道府県名,最新市区町村コード,最新市区町村名,人口_計,出生数_int,死亡数_int,変換前市区町村コード,政令指定都市コード,政令指定都市名
0,2009,01,北海道,01101,札幌市中央区,206252.0,1580,1571,01101,01100,札幌市
1,2010,01,北海道,01101,札幌市中央区,209934.0,1751,1679,01101,01100,札幌市
2,2011,01,北海道,01101,札幌市中央区,212666.0,1706,1710,01101,01100,札幌市

In [26]:
# {コード4.24 政令指定都市で再集計}
df3_sei2 = df3_sei1.groupby(['集計年','最新都道府県コード','最新都道府県名','政令指定都市コード','政令指定都市名'], as_index=False).sum()

df3_sei2.head(3)

    集計年 最新都道府県コード 最新都道府県名 政令指定都市コード 政令指定都市名       人口_計  出生数_int  死亡数_int
0  2009        01     北海道     01100     札幌市  1884939.0    14506    14506
1  2009        14    神奈川県     14100     横浜市  3605951.0    32111    25544
2  2009        14    神奈川県     14130     川崎市  1359063.0    14276     8783

In [27]:
# {コード4.25 結合データとのカラム名統一}
df3_sei3 = df3_sei2.rename(columns={  "政令指定都市コード":"最新市区町村コード",
                                      "政令指定都市名":"最新市区町村名",
                                    }
                            )
df3_sei3.head(3)

    集計年 最新都道府県コード 最新都道府県名 最新市区町村コード 最新市区町村名       人口_計  出生数_int  死亡数_int
0  2009        01     北海道     01100     札幌市  1884939.0    14506    14506
1  2009        14    神奈川県     14100     横浜市  3605951.0    32111    25544
2  2009        14    神奈川県     14130     川崎市  1359063.0    14276     8783

In [28]:
# {コード4.26 政令指定都市データの縦結合}
df3_base3 = pd.concat([df3_base2,df3_sei3],sort=False)

df3_base3

     集計年 最新都道府県コード 最新都道府県名 最新市区町村コード 最新市区町村名       人口_計  出生数_int  死亡数_int
0   2009        01     北海道     01101  札幌市中央区   206252.0     1580     1571
1   2009        01     北海道     01102   札幌市北区   273577.0     2052     2057
2   2009        01     北海道     01103   札幌市東区   252688.0     2221     1860
3   2009        01     北海道     01104  札幌市白石区   203579.0     1831     1581
4   2009        01     北海道     01105  札幌市豊平区   208476.0     1721     1540
5   2009        01     北海道     01106   札幌市南区   147397.0      871     1362
6   2009        01     北海道     01107   札幌市西区   209883.0     1685     1654
7   2009        01     北海道     01108  札幌市厚別区   129604.0      819      934
8   2009        01     北海道     01109  札幌市手稲区   138794.0      953     1091
9   2009        01     北海道     01110  札幌市清田区   114689.0      773      856
10  2009        01     北海道     01202     函館市   284910.0     1889     3322
11  2009        01     北海道     01203     小樽市   135500.0      729     1752
12  2009        01     北海道     01204     旭川市   354559.0     2529     3422
13  2009        01     北海道     01205     室蘭市    96050.0      618     1169
14  2009        01     北海道     01206     釧路市   187569.0     1378     1878
15  2009        01     北海道     01207     帯広市   168532.0     1429     1351
16  2009        01     北海道     01208     北見市   125977.0      898     1098
17  2009        01     北海道     01209     夕張市    11633.0       46      214
18  2009        01     北海道     01210    岩見沢市    91191.0      556      949
19  2009        01     北海道     01211     網走市    39420.0      342      373
20  2009        01     北海道     01212     留萌市    25459.0      217      278
21  2009        01     北海道     01213    苫小牧市   173572.0     1591     1464
22  2009        01     北海道     01214     稚内市    39527.0      309      388
23  2009        01     北海道     01215     美唄市    26938.0      118      391
24  2009        01     北海道     01216     芦別市    17610.0       78      275
25  2009        01     北海道     01217     江別市   122344.0      683      986
26  2009        01     北海道     01218     赤平市    13258.0       57      249
27  2009        01     北海道     01219     紋別市    25248.0      137      299
28  2009        01     北海道     01220     士別市    22666.0      133      278
29  2009        01     北海道     01221     名寄市    30919.0      255      320
..   ...       ...     ...       ...     ...        ...      ...      ...
8   2011        14    神奈川県     14130     川崎市  1381706.0    14307     9686
9   2011        14    神奈川県     14150    相模原市   699756.0     5822     5045
10  2012        01     北海道     01100     札幌市  1904319.0    14487    16228
11  2012        14    神奈川県     14100     横浜市  3629257.0    30959    28930
12  2012        14    神奈川県     14130     川崎市  1388481.0    14257     9716
13  2012        14    神奈川県     14150    相模原市   700923.0     5769     5165
14  2013        01     北海道     01100     札幌市  1910555.0    14591    16844
15  2013        14    神奈川県     14100     横浜市  3633130.0    30181    28959
16  2013        14    神奈川県     14130     川崎市  1396350.0    14286     9984
17  2013        14    神奈川県     14150    相模原市   700810.0     5656     5215
18  2014        01     北海道     01100     札幌市  1921070.0    14568    17668
19  2014        14    神奈川県     14100     横浜市  3638917.0    30149    30038
20  2014        14    神奈川県     14130     川崎市  1404423.0    14126    10134
21  2014        14    神奈川県     14150    相模原市   703180.0     5525     5459
22  2015        01     北海道     01100     札幌市  1926287.0    14589    17523
23  2015        14    神奈川県     14100     横浜市  3644429.0    30022    30349
24  2015        14    神奈川県     14130     川崎市  1414657.0    14703    10409
25  2015        14    神奈川県     14150    相模原市   704421.0     5475     5655
26  2016        01     北海道     01100     札幌市  1931518.0    14021    18504
27  2016        14    神奈川県     14100     横浜市  3647934.0    28889    31414
28  2016        14    神奈川県     14130     川崎市  1426777.0    14158    10379
29  2016        14    神奈川県     14150    相模原市   705194.0     5196     5611
30  2017        01     北海道     01100     札幌市  1936173.0    13821    18668
31  2017        14    神奈川県     14100     横浜市  3649259.0    27763    32385
32  2017        14    神奈川県     14130     川崎市  1438462.0    13778    10997
33  2017        14    神奈川県     14150    相模原市   704467.0     5045     6073
34  2018        01     北海道     01100     札幌市  1940035.0    13248    19343
35  2018        14    神奈川県     14100     横浜市  3646405.0    27170    33213
36  2018        14    神奈川県     14130     川崎市  1449220.0    13420    11174
37  2018        14    神奈川県     14150    相模原市   704643.0     5006     6286

[3524 rows x 8 columns]

In [29]:
# {コード4.27 出生率・死亡率を算出}
#スキル：四則演算、round()
df3_base4 = df3_base3.copy()

df3_base4['出生率'] = (df3_base4['出生数_int'] / df3_base4['人口_計'] * 100).round(3)
df3_base4['死亡率'] = (df3_base4['死亡数_int'] / df3_base4['人口_計'] * 100).round(3)

df3_base4

,集計年,最新都道府県コード,最新都道府県名,最新市区町村コード,最新市区町村名,人口_計,出生数_int,死亡数_int,出生率,死亡率
0,2009,01,北海道,01101,札幌市中央区,206252.0,1580,1571,0.766,0.762
1,2009,01,北海道,01102,札幌市北区,273577.0,2052,2057,0.750,0.752
2,2009,01,北海道,01103,札幌市東区,252688.0,2221,1860,0.879,0.736
3,2009,01,北海道,01104,札幌市白石区,203579.0,1831,1581,0.899,0.777
4,2009,01,北海道,01105,札幌市豊平区,208476.0,1721,1540,0.826,0.739
5,2009,01,北海道,01106,札幌市南区,147397.0,871,1362,0.591,0.924
6,2009,01,北海道,01107,札幌市西区,209883.0,1685,1654,0.803,0.788
7,2009,01,北海道,01108,札幌市厚別区,129604.0,819,934,0.632,0.721
8,2009,01,北海道,01109,札幌市手稲区,138794.0,953,1091,0.687,0.786
9,2009,01,北海道,01110,札幌市清田区,114689.0,773,856,0.674,0.746
10,2009,01,北海道,01202,函館市,284910.0,1889,3322,0.663,1.166
11,2009,01,北海道,01203,小樽市,135500.0,729,1752,0.538,1.293
12,2009,01,北海道,01204,旭川市,354559.0,2529,3422,0.713,0.965
13,2009,01,北海道,01205,室蘭市,96050.0,618,1169,0.643,1.217
14,2009,01,北海道,01206,釧路市,187569.0,1378,1878,0.735,1.001
15,2009,01,北海道,01207,帯広市,168532.0,1429,1351,0.848,0.802
16,2009,01,北海道,01208,北見市,125977.0,898,1098,0.713,0.872
17,2009,01,北海道,01209,夕張市,11633.0,46,214,0.395,1.840
18,2009,01,北海道,01210,岩見沢市,91191.0,556,949,0.610,1.041
19,2009,01,北海道,01211,網走市,39420.0,342,373,0.868,0.946
20,2009,01,北海道,01212,留萌市,25459.0,217,278,0.852,1.092
21,2009,01,北海道,01213,苫小牧市,173572.0,1591,1464,0.917,0.843
22,2009,01,北海道,01214,稚内市,39527.0,309,388,0.782,0.982
23,2009,01,北海道,01215,美唄市,26938.0,118,391,0.438,1.451
24,2009,01,北海道,01216,芦別市,17610.0,78,275,0.443,1.562
25,2009,01,北海道,01217,江別市,122344.0,683,986,0.558,0.806
26,2009,01,北海道,01218,赤平市,13258.0,57,249,0.430,1.878
27,2009,01,北海道,01219,紋別市,25248.0,137,299,0.543,1.184
28,2009,01,北海道,01220,士別市,22666.0,133,278,0.587,1.227
29,2009,01,北海道,01221,名寄市,30919.0,255,320,0.825,1.035
...,...,...,...,...,...,...,...,...,...,...
8,2011,14,神奈川県,14130,川崎市,1381706.0,14307,9686,1.035,0.701
9,2011,14,神奈川県,14150,相模原市,699756.0,5822,5045,0.832,0.721
10,2012,01,北海道,01100,札幌市,1904319.0,14487,16228,0.761,0.852
11,2012,14,神奈川県,14100,横浜市,3629257.0,30959,28930,0.853,0.797
12,2012,14,神奈川県,14130,川崎市,1388481.0,14257,9716,1.027,0.700
13,2012,14,神奈川県,14150,相模原市,700923.0,5769,5165,0.823,0.737
14,2013,01,北海道,01100,札幌市,1910555.0,14591,16844,0.764,0.882
15,2013,14,神奈川県,14100,横浜市,3633130.0,30181,28959,0.831,0.797
16,2013,14,神奈川県,14130,川崎市,1396350.0,14286,9984,1.023,0.715
17,2013,14,神奈川県,14150,相模原市,700810.0,5656,5215,0.807,0.744
18,2014,01,北海道,01100,札幌市,1921070.0,14568,17668,0.758,0.920
19,2014,14,神奈川県,14100,横浜市,3638917.0,30149,30038,0.829,0.825
20,2014,14,神奈川県,14130,川崎市,1404423.0,14126,10134,1.006,0.722
21,2014,14,神奈川県,14150,相模原市,703180.0,5525,5459,0.786,0.776
22,2015,01,北海道,01100,札幌市,1926287.0,14589,17523,0.757,0.910
23,2015,14,神奈川県,14100,横浜市,3644429.0,30022,30349,0.824,0.833
24,2015,14,神奈川県,14130,川崎市,1414657.0,14703,10409,1.039,0.736
25,2015,14,神奈川県,14150,相模原市,704421.0,5475,5655,0.777,0.803
26,2016,01,北海道,01100,札幌市,1931518.0,14021,18504,0.726,0.958
27,2016,14,神奈川県,14100,横浜市,3647934.0,28889,31414,0.792,0.861
28,2016,14,神奈川県,14130,川崎市,1426777.0,14158,10379,0.992,0.727
29,2016,14,神奈川県,14150,相模原市,705194.0,5196,5611,0.737,0.796
30,2017,01,北海道,01100,札幌市,1936173.0,13821,18668,0.714,0.964
31,2017,14,神奈川県,14100,横浜市,3649259.0,27763,32385,0.761,0.887
32,2017,14,神奈川県,14130,川崎市,1438462.0,13778,10997,0.958,0.764
33,2017,14,神奈川県,14150,相模原市,704467.0,5045,6073,0.716,0.862
34,2018,01,北海道,01100,札幌市,1940035.0,13248,19343,0.683,0.997
35,2018,14,神奈川県,14100,横浜市,3646405.0,27170,33213,0.745,0.911
36,2018,14,神奈川県,14130,川崎市,1449220.0,13420,11174,0.926,0.771
37,2018,14,神奈川県,14150,相模原市,704643.0,5006,6286,0.710,0.892

In [30]:
# {コード4.28 列名の修正}
df3_base5 = df3_base4.rename(
                        columns={"最新都道府県コード":"都道府県コード",
                                 "最新都道府県名":"都道府県名",
                                 "最新市区町村コード":"市区町村コード",
                                 "最新市区町村名":"市区町村名",
                                 "人口_計":"人口数（人）",
                                 "出生数_int":"出生数（人）",
                                 "死亡数_int":"死亡数（人）",
                                 "出生率":"出生率（％）",
                                 "死亡率":"死亡率（％）"
                                }
                            )
df3_base5.head(3)

,集計年,都道府県コード,都道府県名,市区町村コード,市区町村名,人口数（人）,出生数（人）,死亡数（人）,出生率（％）,死亡率（％）
0,2009,01,北海道,01101,札幌市中央区,206252.0,1580,1571,0.766,0.762
1,2009,01,北海道,01102,札幌市北区,273577.0,2052,2057,0.750,0.752
2,2009,01,北海道,01103,札幌市東区,252688.0,2221,1860,0.879,0.736

In [31]:
# {コード4.29 データの並び替え}
df3_out = df3_base5.sort_values(['集計年','市区町村コード'])

print('df3_out'); display(df3_out.head())
print(len(df3_out))

df3_out

,集計年,都道府県コード,都道府県名,市区町村コード,市区町村名,人口数（人）,出生数（人）,死亡数（人）,出生率（％）,死亡率（％）
0,2009,01,北海道,01100,札幌市,1884939.0,14506,14506,0.770,0.770
0,2009,01,北海道,01101,札幌市中央区,206252.0,1580,1571,0.766,0.762
1,2009,01,北海道,01102,札幌市北区,273577.0,2052,2057,0.750,0.752
2,2009,01,北海道,01103,札幌市東区,252688.0,2221,1860,0.879,0.736
3,2009,01,北海道,01104,札幌市白石区,203579.0,1831,1581,0.899,0.777

3524

In [32]:
# {コード4.30 ファイルの出力}
now = datetime.datetime.now()
df3_out.to_csv('./out/ratio_'+ now.strftime('%Y%m%d') +'_name.csv',
                header=True, index=False, float_format = '%.3f')