# データ前処理 3章 章末問題 【解答例】<br>

#### [1. サポートサイトにあるファイル「企業リスト1.csv」「企業リスト2.csv」「企業リスト3.csv」をそれぞれ読み込み，それらを縦に結合し，企業コード昇順で重複を除いたデータフレームdf4_ex1を作成しなさい。](#EXE3_1)<br><br>

#### [2. df4_ex1に，ファイル「市区町村マスタ.csv」「業種マスタ.csv」を用いて，カラム「市区町村コード」「市区町村名」「日本標準産業分類中分類コード」「日本標準産業分類中分類」を付与したdf4_ex2を作成しなさい。](#EXE3_2)<br><br>

#### [3. df4_ex2 を用いて，市区町村別の売上高の合計を求めたdf4_ex3_1と，日本標準産業分類中分類別の平均従業員数を求めたdf4_ex3_2を作成しなさい。](#EXE3_3)<br><br>

#### [4. df4_ex2に，「日本標準産業分類中分類別の平均従業員数」より従業員数が多い企業は「01平均超」，従業員数が少ない企業に「02平均以下」という新たなカラム「従業員数区分」を追加したdf4_ex4を作成しなさい。](#EXE3_4)<br><br>
#### [5. df4_ex4と正解ファイルである「3章章末問題正解ファイル.csv」を比較し，完全に一致するまでプログラムを修正しなさい。](#EXE3_5)<br><br>

<br>

*** 
<h3><font color='darkblue'>
0. 事前準備<a name='EXE3_0'>
</h3>

*** 

読み込みデータと出力先の設定：当コードと同意フォルダに、「in」と「out」フォルダを作成し、「in」フォルダにcsvファイルを格納する

In [1]:
#ファイルパスの指定
root_in = "./in/"
root_out = "./out/"

#必要なライブラリの読み込み
import pandas as pd
import numpy as np 
import os 
from glob import glob

os.makedirs('out',exist_ok=True)

<br>

*** 
<h3><font color='darkblue'>
1. 「企業リスト1.csv」「企業リスト2.csv」「企業リスト3.csv」をそれぞれ読み込み，それらを縦に結合し，企業コード昇順で重複を除いたデータフレームdf4_ex1を作成しなさい。<a name='EXE3_1'>
</h3>

*** 

[注意点]
* コード類は必ずゼロ落ちしないように読み込みを行う
* 企業リストの読み込みは、2パターン（①力技、②リストの活用）で実施する

In [2]:
# 企業リストの読み込み
# ①力技
kg1 = pd.read_csv(root_in + '企業リスト1.csv',
                  engine='python', index_col=None, header=0,skiprows=1, encoding='cp932',
                  dtype = {'企業コード':'object','住所コード':'object','ＴＤＢ産業分類コード':'object'}
                 )
kg2 = pd.read_csv(root_in + '企業リスト2.csv',
                  engine='python', index_col=None, header=0,skiprows=1, encoding='cp932',
                  dtype = {'企業コード':'object','住所コード':'object','ＴＤＢ産業分類コード':'object'}
                 )
kg3 = pd.read_csv(root_in + '企業リスト3.csv',
                  engine='python', index_col=None, header=0,skiprows=1, encoding='cp932',
                  dtype = {'企業コード':'object','住所コード':'object','ＴＤＢ産業分類コード':'object'}
                 )

# 縦結合
kg_a = pd.concat([kg1, kg2, kg3], ignore_index=True,sort=False)

print('kg_a'); display(kg_a.head())
print(kg_a.shape) # 行数・列数のチェック

kg_a

       企業コード       住所コード ＴＤＢ産業分類コード  資本金(千円)  従業員数  最新期業績売上高(百万円)
0  786320312  1020202600      28271    40000     3             20
1  786037337  1020213400      34541     3000     5             30
2  756604268  1020105600      20994        0     1            180
3  786030105  1052000107      39301    10000    10            129
4  078800858  1046000413      20523     3000     5          10425

(3015, 6)

In [3]:
# 企業リストの読み込み
# ②globとリストを活用

kg_csv_files = [file for file in glob(os.path.join(root_in, '企業*.csv'))]

kg1_ap=[]
for file in kg_csv_files:
    kg1 = pd.read_csv(file,engine='python', index_col=None, header=0,skiprows=1, encoding='cp932',
                  dtype = {'企業コード':'object','住所コード':'object','ＴＤＢ産業分類コード':'object'}
                 )
    kg1_ap.append(kg1)
    
kg_a = pd.concat(kg1_ap, axis=0, sort=True)

print('kg_a'); display(kg_a.head())
print(kg_a.shape) # 行数・列数のチェック

kg_a

       企業コード       住所コード  従業員数  最新期業績売上高(百万円)  資本金(千円) ＴＤＢ産業分類コード
0  786320312  1020202600     3             20    40000      28271
1  786037337  1020213400     5             30     3000      34541
2  756604268  1020105600     1            180        0      20994
3  786030105  1052000107    10            129    10000      39301
4  078800858  1046000413     5          10425     3000      20523

(3015, 6)

In [4]:
#並び替え
kg_a_sort = kg_a.sort_values(['企業コード'],ascending=[True])
# レコードの重複削除
df4_ex1 = kg_a_sort[~kg_a_sort[['企業コード']].duplicated()]    # 重複行の抽出


print('df4_ex1'); display(df4_ex1.head())
print(df4_ex1.shape) # 行数・列数のチェック

df4_ex1

         企業コード       住所コード  従業員数  最新期業績売上高(百万円)  資本金(千円) ＴＤＢ産業分類コード
850  025314331  1020213400    12             30   100000      39909
31   025322378  1020105600     8             75     5000      35971
369  030018642  1020204300    22             45    20000      34421
696  030019112  1020215300     5            100     3000      35431
409  030019209  1021003400     0             16        0      27502

(2334, 6)

<br>

*** 
<h3><font color='darkblue'>
2. df4_ex1に，ファイル「市区町村マスタ.csv」「業種マスタ.csv」を用いて，カラム「市区町村コード」「市区町村名」「日本標準産業分類中分類コード」「日本標準産業分類中分類」を付与したdf4_ex2を作成しなさい。<a name='EXE3_2'>
</h3>

*** 

* 市区町村マスタとの結合キーは「住所コード」，業種マスタとの結合キーは「TDB産業分類コード」とする。<br><br>
* 日本標準産業分類の中分類コードは，日本標準産業分類の小分類コードの上2桁が該当するものとする。<br><br>

In [5]:
#マスタの読み込み
gyo_mst = pd.read_csv(root_in + '業種マスタ.csv',
                      engine='python', index_col=None, header=0, encoding='cp932',
                      dtype = {'ＴＤＢ産業分類コード':'object','日本標準産業分類_小分類コード':'object'}
                     )
print('gyo_mst'); display(gyo_mst.head())
print(gyo_mst.shape) # 行数・列数のチェック

j5_mst = pd.read_csv(root_in + '市区町村マスタ.csv',
                     engine='python', index_col=None, header=0, encoding='cp932',
                     dtype = {'住所コード':'object','市区町村コード':'object'}
                    )
print('j5_mst'); display(j5_mst.head())
print(j5_mst.shape) # 行数・列数のチェック

gyo_mst

  ＴＤＢ産業分類コード 日本標準産業分類_中分類名 日本標準産業分類_小分類コード 日本標準産業分類_小分類名
0      20111        食料品製造業             091      畜産食料品製造業
1      20121        食料品製造業             091      畜産食料品製造業
2      20199        食料品製造業             091      畜産食料品製造業
3      20202        食料品製造業             092      水産食料品製造業
4      20209        食料品製造業             092      水産食料品製造業

(312, 4)
j5_mst

        住所コード 市区町村コード 市区町村名
0  1020100100   10201   前橋市
1  1020100300   10201   前橋市
2  1020100302   10201   前橋市
3  1020100600   10201   前橋市
4  1020100601   10201   前橋市

(844, 3)

In [6]:
# 横結合1：業種マスタ
kg2_gyo = pd.merge(df4_ex1, gyo_mst,  on='ＴＤＢ産業分類コード',how='inner')

# 横結合によってレコードが減少していないか、正しくカラムが追加されているか確認
print('kg2_gyo'); display(kg2_gyo.head())
print(kg2_gyo.shape) # 行数・列数のチェック

kg2_gyo

,企業コード,住所コード,従業員数,最新期業績売上高(百万円),資本金(千円),ＴＤＢ産業分類コード,日本標準産業分類_中分類名,日本標準産業分類_小分類コード,日本標準産業分類_小分類名
0,025314331,1020213400,12,30,100000,39909,その他の製造業,329,他に分類されない製造業
1,032226093,1020800300,25,70,3350,39909,その他の製造業,329,他に分類されない製造業
2,333320208,1020110800,11,28,3000,39909,その他の製造業,329,他に分類されない製造業
3,451316438,1020108005,0,50,5000,39909,その他の製造業,329,他に分類されない製造業
4,716962374,1038000109,6,800,2000,39909,その他の製造業,329,他に分類されない製造業

(2334, 9)

In [7]:
# 横結合2：市区町村マスタ
df4_ex2 = pd.merge(kg2_gyo, j5_mst,  on='住所コード',how='inner')

# 横結合によってレコードが減少していないか、正しくカラムが追加されているか確認
print('df4_ex2'); display(df4_ex2.head())
print(df4_ex2.shape) # 行数・列数のチェック

df4_ex2

,企業コード,住所コード,従業員数,最新期業績売上高(百万円),資本金(千円),ＴＤＢ産業分類コード,日本標準産業分類_中分類名,日本標準産業分類_小分類コード,日本標準産業分類_小分類名,市区町村コード,市区町村名
0,025314331,1020213400,12,30,100000,39909,その他の製造業,329,他に分類されない製造業,10202,高崎市
1,786037337,1020213400,5,30,3000,34541,金属製品製造業,245,金属素形材製品製造業,10202,高崎市
2,847315017,1020213400,0,22,3000,39881,その他の製造業,329,他に分類されない製造業,10202,高崎市
3,032226093,1020800300,25,70,3350,39909,その他の製造業,329,他に分類されない製造業,10208,渋川市
4,786380171,1020800300,9,127,10000,23301,繊維工業,116,外衣・シャツ製造業（和式を除く）,10208,渋川市

(2334, 11)

<br>

*** 
<h3><font color='darkblue'>
3. df4_ex2 を用いて，市区町村別の売上高の合計を求めたdf4_ex3_1と，日本標準産業分類中分類別の平均従業員数を求めたdf4_ex3_2を作成しなさい。<a name='EXE3_3'>
</h3>

*** 

[注意点]
* df4_ex3_1の作成条件<br><br>
    * 売上高が0あるいはnullのレコードは除く<br><br>
    * 項目：市区町村コード，市区町村名，対象企業数，売上高合計<br><br>

In [8]:
# 売上高が0より大きい＆nullを除く
df4_ex3_10=df4_ex2[df4_ex2['最新期業績売上高(百万円)'] > 0].dropna(subset=['最新期業績売上高(百万円)'])

print('df4_ex3_10'); display(df4_ex3_10.head())
print(df4_ex3_10.shape) # 行数・列数のチェック

df4_ex3_10

,企業コード,住所コード,従業員数,最新期業績売上高(百万円),資本金(千円),ＴＤＢ産業分類コード,日本標準産業分類_中分類名,日本標準産業分類_小分類コード,日本標準産業分類_小分類名,市区町村コード,市区町村名
0,025314331,1020213400,12,30,100000,39909,その他の製造業,329,他に分類されない製造業,10202,高崎市
1,786037337,1020213400,5,30,3000,34541,金属製品製造業,245,金属素形材製品製造業,10202,高崎市
2,847315017,1020213400,0,22,3000,39881,その他の製造業,329,他に分類されない製造業,10202,高崎市
3,032226093,1020800300,25,70,3350,39909,その他の製造業,329,他に分類されない製造業,10208,渋川市
4,786380171,1020800300,9,127,10000,23301,繊維工業,116,外衣・シャツ製造業（和式を除く）,10208,渋川市

(2330, 11)

In [9]:
# 日本標準産業分類別集計
# 企業数
df4_ex3_11 = df4_ex3_10.groupby(['市区町村コード','市区町村名'], as_index=False)['企業コード'].count()

# 平均従業員数
df4_ex3_12 = df4_ex3_10.groupby(['市区町村コード'], as_index=False)["最新期業績売上高(百万円)"].sum()

# 横結合
df4_ex3_1 = pd.merge(df4_ex3_11, df4_ex3_12,  on='市区町村コード',how='inner')

# カラム名前変更
df4_ex3_1.rename(columns={'企業コード':'対象企業数','最新期業績売上高(百万円)':'売上高合計'},inplace=True)

print('df4_ex3_1'); display(df4_ex3_1.head())
print(df4_ex3_1.shape) # 行数・列数のチェック

df4_ex3_1

  市区町村コード 市区町村名  対象企業数   売上高合計
0   10201   前橋市    284  104666
1   10202   高崎市    352  254787
2   10203   桐生市    190  229838
3   10204  伊勢崎市    291  324501
4   10205   太田市    388  143684

(32, 4)

[注意点]
* df4_ex3_2の作成条件<br><br>
    * 従業員数が 0 あるいは null のレコードは除く<br><br>
    * 項目：日本標準産業分類中分類コード(日本標準産業分類上位2桁)，日本標準産業分類中分類名，対象企業数，平均従業員数<br><br>
    * 業種別平均従業員数は小数点第4位を四捨五入<br><br>

In [10]:
# 従業員数が0より大きい＆nullを除く
df4_ex3_20=df4_ex2[df4_ex2['従業員数'] > 0].dropna(subset=['従業員数'])

# 日本標準産業分類中分類コードを作成
df4_ex3_21=df4_ex3_20.assign(日本標準産業分類中分類コード=df4_ex3_20['日本標準産業分類_小分類コード'].str[0:2])


print('df4_ex3_21'); display(df4_ex3_21.head())
print(df4_ex3_21.shape) # 行数・列数のチェック

df4_ex3_21

,企業コード,住所コード,従業員数,最新期業績売上高(百万円),資本金(千円),ＴＤＢ産業分類コード,日本標準産業分類_中分類名,日本標準産業分類_小分類コード,日本標準産業分類_小分類名,市区町村コード,市区町村名,日本標準産業分類中分類コード
0,025314331,1020213400,12,30,100000,39909,その他の製造業,329,他に分類されない製造業,10202,高崎市,32
1,786037337,1020213400,5,30,3000,34541,金属製品製造業,245,金属素形材製品製造業,10202,高崎市,24
3,032226093,1020800300,25,70,3350,39909,その他の製造業,329,他に分類されない製造業,10208,渋川市,32
4,786380171,1020800300,9,127,10000,23301,繊維工業,116,外衣・シャツ製造業（和式を除く）,10208,渋川市,11
5,333320208,1020110800,11,28,3000,39909,その他の製造業,329,他に分類されない製造業,10201,前橋市,32

(2072, 12)

In [11]:
# 日本標準産業分類別集計
# 企業数
df4_ex3_22 = df4_ex3_21.groupby(['日本標準産業分類中分類コード','日本標準産業分類_中分類名'], as_index=False)['企業コード'].count()

# 平均従業員数
df4_ex3_23 = df4_ex3_21.groupby(['日本標準産業分類中分類コード'], as_index=False)["従業員数"].mean().round(3)

# 横結合
df4_ex3_2 = pd.merge(df4_ex3_22, df4_ex3_23,  on='日本標準産業分類中分類コード',how='inner')

# カラム名前変更
df4_ex3_2.rename(columns={'日本標準産業分類_中分類名':'日本標準産業分類中分類名','企業コード':'対象企業数','従業員数':'平均従業員数'},inplace=True)

print('df4_ex3_2'); display(df4_ex3_2.head())
print(df4_ex3_2.shape) # 行数・列数のチェック

df4_ex3_2

  日本標準産業分類中分類コード      日本標準産業分類中分類名  対象企業数  平均従業員数
0             09            食料品製造業    180  18.750
1             10      飲料・たばこ・飼料製造業     28  14.750
2             11              繊維工業    143  16.336
3             12  木材・木製品製造業（家具を除く）     49  14.224
4             13         家具・装備品製造業     58  25.310

(25, 4)

<br>

*** 
<h3><font color='darkblue'>
4. df4_ex2に，「日本標準産業分類中分類別の平均従業員数」より従業員数が多い企業は「01平均超」，従業員数が少ない企業に「02平均以下」という新たなカラム「従業員数区分」を追加したdf4_ex4を作成しなさい。<a name='EXE3_4'>
</h3>

*** 

* df4_ex4の作成条件<br><br>
    * 項目：企業コード，従業員数，日本標準産業分類中分類名，従業員数区分<br><br>
    * ソート順：企業コード

In [12]:
# 日本標準産業分類中分類コードを作成
kg4_0=df4_ex2.assign(日本標準産業分類中分類コード=df4_ex2['日本標準産業分類_小分類コード'].str[0:2])

# 横結合：
kg4_1 = pd.merge(kg4_0, df4_ex3_2[['日本標準産業分類中分類コード','平均従業員数']],  on='日本標準産業分類中分類コード',how='inner')

# フラグの作成
kg4_1['従業員数区分'] = np.where((kg4_1['従業員数'] > kg4_1['平均従業員数']), '01平均超','02平均以下')

# カラム名前変更
kg4_1.rename(columns={'日本標準産業分類_中分類名':'日本標準産業分類中分類名'},inplace=True)
kg4_2 = kg4_1[['企業コード','従業員数','日本標準産業分類中分類名','従業員数区分']]
df4_ex4 = kg4_2.sort_values(['企業コード'],ascending=[True])

print('df4_ex4'); display(df4_ex4.head())
print(df4_ex4.shape) # 行数・列数のチェック

df4_ex4

          企業コード  従業員数 日本標準産業分類中分類名  従業員数区分
0     025314331    12      その他の製造業  02平均以下
712   025322378     8   はん用機械器具製造業  02平均以下
123   030018642    22      金属製品製造業   01平均超
1183  030019112     5   生産用機械器具製造業  02平均以下
1884  030019209     0      印刷・同関連業  02平均以下

(2334, 4)

<br>

*** 
<h3><font color='darkblue'>
5. df4_ex4と正解ファイルである「3章章末問題正解ファイル.csv」（inフォルダ内）を比較し，完全に一致するまでプログラムを修正しなさい。<a name='EXE3_5'>
</h3>

*** 

CSVで出力し、ExcelやCSV比較ソフトを利用するとよい.
<br>また、OSシェルコマンドが使える場合はdiffコマンドを使用するとよい.

In [13]:
# 従業員数の整数出力設定
df4_ex4['従業員数'] = df4_ex4['従業員数'].map(lambda x: '{0:.0f}'.format(x))

# CSV出力
df4_ex4.to_csv(root_out +'3章章末問題_出力.csv',index=False,header=True, sep=',' )

In [14]:
#Jupyterでは!を先頭に付与することでOSシェルコマンドを実行できる.
!diff ./in/3章章末問題正解ファイル.csv ./out/3章章末問題_出力.csv