# データ前処理 3章 章末問題 【解答例】<br>

### <font color="red" weight="bold">※本ノートブックではデータフレームをファイルとして読み替えること.<br>　また, データフレームの変数名dfx_xxxの内容はファイル名dfx_xxx.csvに出力されており, <br>　そのファイルのパス文字列が変数dfx_xxxに格納されている.</font>

#### [1. サポートサイトにあるファイル「企業リスト1.csv」「企業リスト2.csv」「企業リスト3.csv」をそれぞれ読み込み，それらを縦に結合し，企業コード昇順で重複を除いたデータフレームdf4_ex1を作成しなさい。](#EXE3_1)<br><br>

#### [2. df4_ex1に，ファイル「市区町村マスタ.csv」「業種マスタ.csv」を用いて，カラム「市区町村コード」「市区町村名」「日本標準産業分類中分類コード」「日本標準産業分類中分類」を付与したdf4_ex2を作成しなさい。](#EXE3_2)<br><br>

#### [3. df4_ex2 を用いて，市区町村別の売上高の合計を求めたdf4_ex3_1と，日本標準産業分類中分類別の平均従業員数を求めたdf4_ex3_2を作成しなさい。](#EXE3_3)<br><br>

#### [4. df4_ex2に，「日本標準産業分類中分類別の平均従業員数」より従業員数が多い企業は「01平均超」，従業員数が少ない企業に「02平均以下」という新たなカラム「従業員数区分」を追加したdf4_ex4を作成しなさい。](#EXE3_4)<br><br>
#### [5. df4_ex4と正解ファイルである「3章章末問題正解ファイル.csv」を比較し，完全に一致するまでプログラムを修正しなさい。](#EXE3_5)<br><br>

<br>

*** 
<h3><font color='darkblue'>
0. 事前準備<a name='EXE3_0'>
</h3>

*** 

読み込みデータと出力先の設定：当コードと同意フォルダに、「in」と「out」フォルダを作成し、「in」フォルダにcsvファイルを格納する

In [1]:
#必要なライブラリの読み込み
import os
from glob import glob
import nysol.mcmd as nm

os.makedirs('out_m',exist_ok=True)

<br>

*** 
<h3><font color='darkblue'>
1. 「企業リスト1.csv」「企業リスト2.csv」「企業リスト3.csv」をそれぞれ読み込み，それらを縦に結合し，企業コード昇順で重複を除いたデータフレームdf4_ex1を作成しなさい。<a name='EXE3_1'>
</h3>

In [2]:
#入力ファイルの変換（文字コード、CSVフォーマット）
for _file in glob('./in/企業リスト*.csv' ):
    #shift_jisのファイルをutf-8に変換
    _out_file = _file.replace('in', 'out_m')
    _work_file = _out_file.replace('.csv', '.txt')
    !nkf -wLu {_file} > {_work_file}
    #1行目の空白行を削除
    with open(_work_file, mode='r') as _f_r:
        with open(_out_file, mode='w') as _f_w:
            cnt=0
            for line in _f_r.readlines():
                if cnt>0:
                    _f_w.write(line)
                cnt += 1

file4_ex1='./out_m/df4_ex1.csv'
f=None
f<<=nm.mcat(i='./out_m/企業リスト*.csv')  #縦結合
f<<=nm.mdelnull(f='*')  #空行の削除
f<<=nm.muniq(k='企業コード')  #重複行の単一化
f<<=nm.msortf(f='企業コード', o=file4_ex1)  #並び替え
f.run(msg="on")

display(file4_ex1, nm.p(file4_ex1, head=5, tail=1))

#END# kgcat i=./out_m/企業リスト*.csv; IN=3015 OUT=3015; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kgdelnull f=*; IN=3015 OUT=3015; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kguniq k=企業コード; IN=3015 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kgsortf f=企業コード o=./out_m/df4_ex1.csv; IN=2334 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58

'./out_m/df4_ex1.csv'

<br>

*** 
<h3><font color='darkblue'>
2. df4_ex1に，ファイル「市区町村マスタ.csv」「業種マスタ.csv」を用いて，カラム「市区町村コード」「市区町村名」「日本標準産業分類中分類コード」「日本標準産業分類中分類」を付与したdf4_ex2を作成しなさい。<a name='EXE3_2'>
</h3>

*** 

* 市区町村マスタとの結合キーは「住所コード」，業種マスタとの結合キーは「TDB産業分類コード」とする。<br><br>
* 日本標準産業分類の中分類コードは，日本標準産業分類の小分類コードの上2桁が該当するものとする。<br><br>

In [3]:
#マスタファイルの変換（文字コード）
for _file in glob('./in/*マスタ.csv' ):
    #shift_jisのファイルをutf-8に変換
    _out_file = _file.replace('in', 'out_m')
    !nkf -wLu {_file} > {_out_file}

#マスタファイル確認
file_gyo_mst = './out_m/業種マスタ.csv'
file_j5_mst = './out_m/市区町村マスタ.csv'
display(file_gyo_mst, nm.p(file_gyo_mst, head=5, tail=1))
display(file_j5_mst, nm.p(file_j5_mst, head=5, tail=1))

'./out_m/業種マスタ.csv'

'./out_m/市区町村マスタ.csv'

In [4]:
file4_ex2='./out_m/df4_ex2.csv'

f=None
# 横結合1：業種マスタ
f<<=nm.mjoin(i=file4_ex1, m=file_gyo_mst, k='ＴＤＢ産業分類コード', f='日本標準産業分類_中分類名,日本標準産業分類_小分類コード', n=True)
# 日本標準産業分類_中分類コード加工
f<<=nm.mcal(c='left($s{日本標準産業分類_小分類コード},2)', a='日本標準産業分類_中分類コード')
f<<=nm.mcut(r=True, f='日本標準産業分類_小分類コード')
# 横結合2：市区町村マスタ
f<<=nm.mjoin(m=file_j5_mst, k='住所コード', n=True)
f<<=nm.msortf(f='企業コード', o=file4_ex2)
f.run(msg="on")

display(file4_ex2, nm.p(file4_ex2, head=5, tail=1))

#END# kgjoin -n f=日本標準産業分類_中分類名,日本標準産業分類_小分類コード i=./out_m/df4_ex1.csv k=ＴＤＢ産業分類コード m=./out_m/業種マスタ.csv; IN=2334 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kgcal a=日本標準産業分類_中分類コード c=left($s{日本標準産業分類_小分類コード},2); IN=2334 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kgcut -r f=日本標準産業分類_小分類コード; IN=2334 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kgjoin -n k=住所コード m=./out_m/市区町村マスタ.csv; IN=2334 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58
#END# kgsortf f=企業コード o=./out_m/df4_ex2.csv; IN=2334 OUT=2334; 2021/05/18 18:02:58; 2021/05/18 18:02:58

'./out_m/df4_ex2.csv'

<br>

*** 
<h3><font color='darkblue'>
3. df4_ex2 を用いて，市区町村別の売上高の合計を求めたdf4_ex3_1と，日本標準産業分類中分類別の平均従業員数を求めたdf4_ex3_2を作成しなさい。<a name='EXE3_3'>
</h3>

*** 

[注意点]
* df4_ex3_1の作成条件<br><br>
    * 売上高が0あるいはnullのレコードは除く<br><br>
    * 項目：市区町村コード，市区町村名，対象企業数，売上高合計<br><br>

In [5]:
# 市区町村別の売上高の合計
file4_ex3_1='./out_m/df4_ex3_1.csv'

f=None
f<<=nm.msetstr(i=file4_ex2, a='cnt', v='1')
f<<=nm.mnullto(f='最新期業績売上高(百万円)', v='0')
f<<=nm.msel(c='${最新期業績売上高(百万円)}>0')
f<<=nm.msum(k='市区町村コード', f='cnt:対象企業数,最新期業績売上高(百万円):売上高合計')
f<<=nm.mcut(f='市区町村コード,市区町村名,対象企業数,売上高合計')
f<<=nm.msortf(f='市区町村コード', o=file4_ex3_1)
f.run(msg="on")
display(file4_ex3_1, nm.p(file4_ex3_1, head=5, tail=1))

#END# kgsetstr a=cnt i=./out_m/df4_ex2.csv v=1; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgnullto f=最新期業績売上高(百万円) v=0; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsel c=${最新期業績売上高(百万円)}>0; IN=2334 OUT=2330; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsum f=cnt:対象企業数,最新期業績売上高(百万円):売上高合計 k=市区町村コード; IN=2330 OUT=32; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgcut f=市区町村コード,市区町村名,対象企業数,売上高合計; IN=32 OUT=32; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsortf f=市区町村コード o=./out_m/df4_ex3_1.csv; IN=32 OUT=32; 2021/05/18 18:02:59; 2021/05/18 18:02:59

'./out_m/df4_ex3_1.csv'

[注意点]
* df4_ex3_2の作成条件<br><br>
    * 従業員数が 0 あるいは null のレコードは除く<br><br>
    * 項目：日本標準産業分類中分類コード(日本標準産業分類上位2桁)，日本標準産業分類中分類名，対象企業数，平均従業員数<br><br>
    * 業種別平均従業員数は小数点第4位を四捨五入<br><br>

In [6]:
# 日本標準産業分類中分類別の平均従業員数
file4_ex3_2='./out_m/df4_ex3_2.csv'

f=None
f<<=nm.msetstr(i=file4_ex2, a='cnt', v='1')
f<<=nm.mnullto(f='従業員数', v='0')
f<<=nm.msel(c='${従業員数}>0')
f<<=nm.msum(k='日本標準産業分類_中分類コード', f='cnt:対象企業数,従業員数:従業員数合計')
f<<=nm.mcal(c='round(${従業員数合計}/${対象企業数},0.001)', a='平均従業員数')
f<<=nm.mcut(f='日本標準産業分類_中分類コード:日本標準産業分類中分類コード,日本標準産業分類_中分類名:日本標準産業分類中分類名,対象企業数,平均従業員数')
f<<=nm.msortf(f='日本標準産業分類中分類コード', o=file4_ex3_2)
f.run(msg="on")
display(file4_ex3_2, nm.p(file4_ex3_2, head=5, tail=1))

#END# kgsetstr a=cnt i=./out_m/df4_ex2.csv v=1; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgnullto f=従業員数 v=0; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsel c=${従業員数}>0; IN=2334 OUT=2072; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsortf f=日本標準産業分類中分類コード o=./out_m/df4_ex3_2.csv; IN=25 OUT=25; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgcut f=日本標準産業分類_中分類コード:日本標準産業分類中分類コード,日本標準産業分類_中分類名:日本標準産業分類中分類名,対象企業数,平均従業員数; IN=25 OUT=25; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgcal a=平均従業員数 c=round(${従業員数合計}/${対象企業数},0.001); IN=25 OUT=25; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsum f=cnt:対象企業数,従業員数:従業員数合計 k=日本標準産業分類_中分類コード; IN=2072 OUT=25; 2021/05/18 18:02:59; 2021/05/18 18:02:59

'./out_m/df4_ex3_2.csv'

<br>

*** 
<h3><font color='darkblue'>
4. df4_ex2に，「日本標準産業分類中分類別の平均従業員数」より従業員数が多い企業は「01平均超」，従業員数が少ない企業に「02平均以下」という新たなカラム「従業員数区分」を追加したdf4_ex4を作成しなさい。<a name='EXE3_4'>
</h3>

*** 

* df4_ex4の作成条件<br><br>
    * 項目：企業コード，従業員数，日本標準産業分類中分類名，従業員数区分<br><br>
    * ソート順：企業コード

In [7]:
file4_ex4='./out_m/df4_ex4.csv'

f=None
f<<=nm.mjoin(i=file4_ex2, m=file4_ex3_2, k='日本標準産業分類_中分類コード', K='日本標準産業分類中分類コード',  f='平均従業員数')
f<<=nm.mcal(c='if(${従業員数}>${平均従業員数}, "01平均超", "02平均以下")', a='従業員数区分')
f<<=nm.mcut(f='企業コード,従業員数,日本標準産業分類_中分類名:日本標準産業分類中分類名,従業員数区分')
f<<=nm.msortf(f='企業コード')
f<<=nm.mfldname(q=True, o=file4_ex4)  #項目名に付加されているソート順などの記号を削除（後続のファイル比較のため）
f.run(msg="on")
display(file4_ex4, nm.p(file4_ex4, head=5, tail=1))

#END# kgjoin K=日本標準産業分類中分類コード f=平均従業員数 i=./out_m/df4_ex2.csv k=日本標準産業分類_中分類コード m=./out_m/df4_ex3_2.csv; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgcal a=従業員数区分 c=if(${従業員数}>${平均従業員数}, "01平均超", "02平均以下"); IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgcut f=企業コード,従業員数,日本標準産業分類_中分類名:日本標準産業分類中分類名,従業員数区分; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgsortf f=企業コード; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59
#END# kgfldname -q o=./out_m/df4_ex4.csv; IN=2334 OUT=2334; 2021/05/18 18:02:59; 2021/05/18 18:02:59

'./out_m/df4_ex4.csv'

<br>

*** 
<h3><font color='darkblue'>
5. df4_ex4と正解ファイルである「3章章末問題正解ファイル.csv」を比較し，完全に一致するまでプログラムを修正しなさい。<a name='EXE3_5'>
</h3>

*** 

OSシェルコマンドのdiffを使うとファイルを比較してくれるので利用するとよい.

In [11]:
#Jupyterでは!を先頭に付与することでOSシェルコマンドを実行できる.
#その際, Pythonの変数値を {変数名} の形式で渡すことができる.
!diff ./in/3章章末問題正解ファイル.csv {file4_ex4}