In [3]:
# コード 3.2 DataFrameの生成（CSVファイルから）

import pandas as pd
import numpy as np
import os
from glob import glob

#CSVファイルの読み込み
df_0 = pd.read_csv('in/0_company_data.csv')

#df_0はDataFrame
print(type(df_0))  #<class 'pandas.core.frame.DataFrame'>

#DataFrame変数(df_0)の中身表示（Jupyter環境）
df_0

<class 'pandas.core.frame.DataFrame'>

     企業管理コード  資本金_千円  従業員数 所在地_都道府県名
0  A01132330     913   378       広島県
1  A03112202     970    88       福岡県
2  A03124920     902   148       三重県
3  A04113912    1127    72       福岡県
4  A04116769    1037   114       東京都
5  A04122570    1158   103       大阪府

In [4]:
# コード 3.3 DataFrameの3要素とデータ型

#values
print(type(df_0.values))  #<class 'numpy.ndarray'>
print(df_0.values)
#出力結果
# [['A01132330' 913 378 '広島県']
#  ['A03112202' 970 88 '福岡県']
#  ['A03124920' 902 148 '三重県']
#  ['A04113912' 1127 72 '福岡県']
#  ['A04116769' 1037 114 '東京都']
#  ['A04122570' 1158 103 '大阪府']]

#列データはSeries型
sr_0 = df_0['所在地_都道府県名']
print(type(sr_0))  #<class 'numpy.ndarray'>
print(sr_0)

#columns
print(type(df_0.columns))  # <class 'pandas.core.indexes.base.Index'>
print(df_0.columns)
# Index(['企業管理コード', '資本金_千円', '従業員数', '所在地_都道府県名'], dtype='object')
print(df_0.columns.tolist())
# ['企業管理コード', '資本金_千円', '従業員数', '所在地_都道府県名']

#index
print(type(df_0.index))  #<class 'pandas.core.indexes.range.RangeIndex'>
print(df_0.index)  # RangeIndex(start=0, stop=6, step=1)
print(df_0.index.tolist())  # [0, 1, 2, 3, 4, 5]

#列のデータ型
print(df_0.dtypes)
# 企業管理コード      object
# 資本金_千円        int64
# 従業員数          int64
# 所在地_都道府県名    object
# dtype: object

<class 'numpy.ndarray'>
[['A01132330' 913 378 '広島県']
 ['A03112202' 970 88 '福岡県']
 ['A03124920' 902 148 '三重県']
 ['A04113912' 1127 72 '福岡県']
 ['A04116769' 1037 114 '東京都']
 ['A04122570' 1158 103 '大阪府']]
<class 'pandas.core.series.Series'>
0    広島県
1    福岡県
2    三重県
3    福岡県
4    東京都
5    大阪府
Name: 所在地_都道府県名, dtype: object
<class 'pandas.core.indexes.base.Index'>
Index(['企業管理コード', '資本金_千円', '従業員数', '所在地_都道府県名'], dtype='object')
['企業管理コード', '資本金_千円', '従業員数', '所在地_都道府県名']
<class 'pandas.core.indexes.range.RangeIndex'>
RangeIndex(start=0, stop=6, step=1)
[0, 1, 2, 3, 4, 5]
企業管理コード      object
資本金_千円        int64
従業員数          int64
所在地_都道府県名    object
dtype: object