### 前準備

In [1]:
#{コード3.1 3章の準備}
import os
import nysol.mcmd as nm

os.makedirs('out_m',exist_ok=True)

### カラム操作

In [2]:
# {コード3.4 3.2節の準備}
#   -> nysol_pythonの場合CSVファイルのまま処理できるため、前準備は特に不要

file_col1='./in/1_company_data.csv'

#nm.p()メソッドは引数のCSVファイルの内容を表示する. head=, tail=パラメータで先頭, 末尾からの表示行数を指定できる.
#  末尾の行を表示することで行インデックスの値からファイルの行数を確認することができる.
#   ※行インデックスは0からスタートするため, 末尾の行インデックスに+1したものが行数となる.
display(nm.p(file_col1, head=5, tail=1))

In [3]:
# {コード3.5 必要なカラムを保持}
file_col2='./out_m/df_col2.csv'
#カラムの選択にはnm.mcut()メソッドを使用する.
#  f=パラメータに選択する項目名を指定する（複数項目を指定する場合はカンマ区切りの1つの文字列を指定する）.
f=None
f<<=nm.mcut(i=file_col1, f='企業管理コード,従業員数,所在地_市区郡コード,所在地_都道府県名', o=file_col2)
f.run(msg="on")

display(file_col2, nm.p(file_col2, head=5, tail=1))

#END# kgcut f=企業管理コード,従業員数,所在地_市区郡コード,所在地_都道府県名 i=./in/1_company_data.csv o=./out_m/df_col2.csv; IN=1050 OUT=1050; 2021/05/18 07:39:30; 2021/05/18 07:39:30

'./out_m/df_col2.csv'

In [4]:
# {コード3.6 不要なカラムを除去}
file_col2_2='./out_m/df_col2_2.csv'
#nm.mcut()メソッドにてr=パラメータにTrueを指定するとf=パラメータで指定した項目を除外する.
f=None
f<<=nm.mcut(i=file_col1, f='資本金_千円,創業年,創業月,設立年,設立月', r=True, o=file_col2_2)
f.run(msg="on")

display(file_col2_2, nm.p(file_col2_2, head=5, tail=1))

#END# kgcut -r f=資本金_千円,創業年,創業月,設立年,設立月 i=./in/1_company_data.csv o=./out_m/df_col2_2.csv; IN=1050 OUT=1050; 2021/05/18 07:39:30; 2021/05/18 07:39:30

'./out_m/df_col2_2.csv'

In [5]:
#{コード3.7, 3.8 都道府県名カラムの作成}
file_col3='./out_m/df_col3.csv'
#項目間演算のm.mcal()メソッドを利用する.
#  a=パラメータに追加する項目名を文字列で指定し、c=パラメータに項目演算の式を指定する.
#  c=パラメータでは${項目名}や$s{項目名}という形式で項目名を指定する.
#  $と{}の間に指定する文字は項目値を取り扱う型を表し, 指定なしは数値, sは文字列となる.
f=None
f<<=nm.mcal(i=file_col2, c='$s{所在地_都道府県名}', a='所在地_都道府県名2', o=file_col3)
f.run(msg="on")

display(file_col3, nm.p(file_col3, head=5, tail=1))

#END# kgcal a=所在地_都道府県名2 c=$s{所在地_都道府県名} i=./out_m/df_col2.csv o=./out_m/df_col3.csv; IN=1050 OUT=1050; 2021/05/18 07:39:30; 2021/05/18 07:39:30

'./out_m/df_col3.csv'

In [6]:
# {コード3.9 カラム名の変更}
file_col4='./out_m/df_col4.csv'
#項目名変更はnm.mfldname()メソッドを使用する.
#  f=パラメータに  変更前項目名:変換後項目名  を指定する（複数項目を指定する場合はカンマ区切りの1つの文字列で指定する）.
f=None
f<<=nm.mfldname(i=file_col3, f='従業員数:従業員数(人),所在地_市区郡コード:所在地_市区郡CD', o=file_col4)
f.run(msg="on")

display(file_col4, nm.p(file_col4, head=5, tail=1))

#END# kgfldname f=従業員数:従業員数(人),所在地_市区郡コード:所在地_市区郡CD i=./out_m/df_col3.csv o=./out_m/df_col4.csv; IN=1050 OUT=1050; 2021/05/18 07:39:30; 2021/05/18 07:39:30

'./out_m/df_col4.csv'

In [7]:
# {コード3.10 カラム属性の確認}
# {コード3.11 文字列置換とカラムの属性変更}
#    -> nysol_pythonでは処理途中での型変更は不要.