### 前準備

In [1]:
#{コード3.1 3章の準備}
import os
import nysol.mcmd as nm

os.makedirs('out_m',exist_ok=True)

### レコード操作

In [2]:
# {コード3.17 3.4節の準備}
file_rec1='./in/3_company_data.csv'
display(nm.p(file_rec1, head=5, tail=1))

In [3]:
# {コード3.18 直前の値でnull を埋める}
file_rec2='./out_m/df_rec2.csv'
#直前行の値でnull値を埋めるにはnm.mnullto()メソッドをp=Trueオプションを指定して使用する.
f=None
f<<=nm.mnullto(i=file_rec1, p=True, A=True, f='所在地_都道府県:所在地_都道府県_補完', o=file_rec2)
f.run(msg="on")

display(file_rec2, nm.p(file_rec2, head=5, tail=1))

#END# kgnullto -A -p f=所在地_都道府県:所在地_都道府県_補完 i=./in/3_company_data.csv o=./out_m/df_rec2.csv; IN=1084 OUT=1084; 2021/05/18 07:40:06; 2021/05/18 07:40:06

'./out_m/df_rec2.csv'

In [4]:
# {コード3.19 データフレームの並び替え}
file_rec3='./out_m/df_rec3.csv'
#行の並び替え（ソート）はnm.msortf()メソッドを使用する.
#  デフォルトでは文字列としての昇順となり, 指定を変更する場合は項目名の後に%に続けて n と r を以下の通り組み合わせる。
#    文字列昇順: 項目名 ( % 指定なし), 文字列逆順: f=項目名%r , 数値昇順: f=項目名%n , 数値降順: f=項目名%nr 
f=None
f<<=nm.msortf(i=file_rec2, f='企業管理コード,決算期年%n', o=file_rec3)
f.run(msg="on")

display(file_rec3, nm.p(file_rec3, head=5, tail=1))

#END# kgsortf f=企業管理コード,決算期年%n i=./out_m/df_rec2.csv o=./out_m/df_rec3.csv; IN=1084 OUT=1084; 2021/05/18 07:40:06; 2021/05/18 07:40:06

'./out_m/df_rec3.csv'

In [5]:
# {コード3.20 レコードの重複削除}
file_rec4='./out_m/df_rec4.csv'
#重複行の削除はnm.muniq()メソッドを使用する.
#  k=パラメータに重複の単位となるキー項目を指定する.
f=None
f<<=nm.muniq(i=file_rec3, k='企業管理コード,決算期年', o=file_rec4)
f.run(msg="on")

display(file_rec4, nm.p(file_rec4, head=5, tail=1))

#END# kguniq i=./out_m/df_rec3.csv k=企業管理コード,決算期年 o=./out_m/df_rec4.csv; IN=1084 OUT=1034; 2021/05/18 07:40:06; 2021/05/18 07:40:06

'./out_m/df_rec4.csv'

In [6]:
# {コード3.21 前行との差分を計算する}
file_rec5='./out_m/df_rec5.csv'
#前行との差分計算はnm.mslide()メソッドを使用する.
#  s=パラメータで指定した項目順に並べ替えた後に, 
#  k=パラメータで指定した項目を単位に, 
#  f=パラメータで指定した項目について1行ずらした項目が追加される.
#  r=Trueオプションを指定すれば上行の値を下行にずらし, 指定しない場合は下行の値を上行にずらす.
f=None
f<<=nm.mslide(i=file_rec4, s='企業管理コード,決算期年%n', k='企業管理コード', f='売上高_百万円:前年_売上高_百万円', r=True)
#算術演算はnm.mcal()メソッドを使用する.
f<<=nm.mcal(c='${前年_売上高_百万円}-${売上高_百万円}', a='売上高前年差_百万円')
f<<=nm.mcal(c='${売上高前年差_百万円}/${売上高_百万円}', a='売上高前年変化量')
f<<=nm.mcal(c='(${売上高前年変化量}+1)*100', a='売上高前年比パーセント', o=file_rec5)
f.run(msg="on")

display(file_rec5, nm.p(file_rec5, head=5, tail=1))

#END# kgslide -r f=売上高_百万円:前年_売上高_百万円 i=./out_m/df_rec4.csv k=企業管理コード s=企業管理コード,決算期年%n; IN=1034 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07
#END# kgcal a=売上高前年差_百万円 c=${前年_売上高_百万円}-${売上高_百万円}; IN=517 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07
#END# kgcal a=売上高前年変化量 c=${売上高前年差_百万円}/${売上高_百万円}; IN=517 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07
#END# kgcal a=売上高前年比パーセント c=(${売上高前年変化量}+1)*100 o=./out_m/df_rec5.csv; IN=517 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec5.csv'

In [7]:
# {コード3.22 首都圏の企業の抽出}
file_rec6_1='./out_m/df_rec6_1.csv'
#文字列条件による行抽出はnm.mselstr()メソッドを使用する.
#  f=パラメータに抽出条件対象の項目名を指定し, v=パラメータで条件値を指定する. 条件値が複数存在する場合はカンマ区切りの文字列を指定する.
f=None
f<<=nm.mselstr(i=file_rec5, f='所在地_都道府県_補完', v='11_埼玉県,12_千葉県,13_東京都,14_神奈川県', o=file_rec6_1)
f.run(msg="on")

display(file_rec6_1, nm.p(file_rec6_1, head=5, tail=1))

#END# kgselstr f=所在地_都道府県_補完 i=./out_m/df_rec5.csv o=./out_m/df_rec6_1.csv v=11_埼玉県,12_千葉県,13_東京都,14_神奈川県; IN=517 OUT=125; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec6_1.csv'

In [8]:
# {コード3.23 2019 年かつ売上高利益率0.5 ％以上の企業の抽出}
file_rec6_2='./out_m/df_rec6_2.csv'
#数値条件などの条件式による行抽出はnm.msel()メソッドを使用する.
#  c=パラメータに抽出条件式を指定する.
f=None
f<<=nm.msel(i=file_rec6_1, c='${売上高利益率}>=0.005 && $s{決算期年}=="2019"', o=file_rec6_2)
# {コード3.21 前行との差分を計算する}にてnm.mslide()を使用したことにより, すでに決算期年が2019の行に集約されているため
# 実際には$s{決算期年}=="2019"の条件式は意味をなさない.
f.run(msg="on")

display(file_rec6_2, nm.p(file_rec6_2, head=5, tail=1))

#END# kgsel c=${売上高利益率}>=0.005 && $s{決算期年}=="2019" i=./out_m/df_rec6_1.csv o=./out_m/df_rec6_2.csv; IN=125 OUT=24; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec6_2.csv'

In [9]:
# {コード3.24 都道府県所在地に川を含んだ企業の抽出}
file_rec7='./out_m/df_rec7.csv'
#文字列の部分一致条件による行抽出についてもnm.mselstr()メソッドを使用する.
#  sub=Trueオプションを指定することで部分一致条件, head=Trueで前方一致, tail=Trueで後方一致, 指定なしで完全一致となる.
f=None
f<<=nm.mselstr(i=file_rec4, f='所在地_都道府県_補完', v='川', sub=True, o=file_rec7)
f.run(msg="on")

display(file_rec7, nm.p(file_rec7, head=5, tail=1))

#END# kgselstr -sub f=所在地_都道府県_補完 i=./out_m/df_rec4.csv o=./out_m/df_rec7.csv v=川; IN=1034 OUT=66; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec7.csv'

In [10]:
# {コード3.25 レコードの累積処理}
file_rec8_1='./out_m/df_rec8_1.csv'
#累積計算はnm.maccum()メソッドを使用する.
#  s=パラメータで指定した項目順に並べ替えた後に, 
#  f=パラメータで指定した項目の累積計算を行う. 計算結果をセットする新しい項目を:（コロン）に続けて指定する必要がある.
f=None
f<<=nm.mselstr(i=file_rec4, f='決算期年', v='2019')
f<<=nm.maccum(s='企業管理コード', f='売上高_百万円:累計売上高', o=file_rec8_1)
f.run(msg="on")

display(file_rec8_1, nm.p(file_rec8_1, head=5, tail=1))

#END# kgaccum f=売上高_百万円:累計売上高 o=./out_m/df_rec8_1.csv s=企業管理コード; IN=517 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07
#END# kgselstr f=決算期年 i=./out_m/df_rec4.csv v=2019; IN=1034 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec8_1.csv'

In [11]:
# {コード3.26 従業員数の区分作成}
file_rec9='./out_m/df_rec9.csv'
#数値による区分作成はnm.mchgnum()メソッドを使用する.
#  f=パラメータで指定した項目値を, R=パラメータで指定した境界値の範囲で, v=パラメータで指定した区分値をセットする. 
#  境界値には最小値、最大値として MIN,MAX を指定できる.
#  A=Trueオプションを指定することで, 区分値を新しい項目にセットする. オプションを指定しない場合は, 対象の数値項目を区分値で置換する.
#  r=Trueオプションを指定すると境界値「以下」での数値範囲となる. オプションを指定しない場合は「未満」となる.
f=None
f<<=nm.mchgnum(i=file_rec8_1, f='従業員数:従業員区分', R='MIN,1,50,100,300,MAX', v='1_0名or未詳,2_1名～50名,3_51名～100名,4_101名～300名,5_300名超', A=True, r=True, o=file_rec9)
f.run(msg="on")

display(file_rec9, nm.p(file_rec9, head=5, tail=1))

#END# kgchgnum -A -r R=MIN,1,50,100,300,MAX f=従業員数:従業員区分 i=./out_m/df_rec8_1.csv o=./out_m/df_rec9.csv v=1_0名or未詳,2_1名～50名,3_51名～100名,4_101名～300名,5_300名超; IN=517 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec9.csv'

In [12]:
# {コード3.27 区分別ランキングの付与}
file_rec10='./out_m/df_rec10.csv'
#ランキングの付与はnm.mnumber()メソッドを使用する.
#  s=パラメータで指定した項目順に並べ替えた後に, 
#  k=パラメータで指定した項目を単位に, 
#  a=パラメータで指定した新しい項目に連番（ランキング）がセットされる.
#  S=パラメータで連番の最初の値が指定できる. 指定しない場合は最初の値は0である.
f=None
f<<=nm.mnumber(i=file_rec9, s='決算期年%n,所在地_都道府県_補完,従業員区分,売上高利益率%nr', S=1,
                               k='所在地_都道府県_補完,従業員区分', a='都道府県従業員別売上高利益率ランキング', o=file_rec10)
f.run(msg="on")

display(file_rec10, nm.p(file_rec10, head=5, tail=1))

#END# kgnumber S=1 a=都道府県従業員別売上高利益率ランキング i=./out_m/df_rec9.csv k=所在地_都道府県_補完,従業員区分 o=./out_m/df_rec10.csv s=決算期年%n,所在地_都道府県_補完,従業員区分,売上高利益率%nr; IN=517 OUT=517; 2021/05/18 07:40:07; 2021/05/18 07:40:07

'./out_m/df_rec10.csv'