### 前準備

In [1]:
#{コード3.1 3章の準備}
import os
from glob import glob
import nysol.mcmd as nm

os.makedirs('out_m',exist_ok=True)

### 結合処理/集計処理

In [2]:
# {コード3.28 3.5節の準備}
file_sale1_1 = './in/4_company_sales_data1.csv'
file_sale1_2 = './in/4_company_sales_data2.csv'
file_info = './in/4_company_attri_data.csv'

display(file_sale1_1, nm.p(file_sale1_1, head=5, tail=1))
display(file_sale1_2, nm.p(file_sale1_2, head=5, tail=1))
display(file_info, nm.p(file_info, head=5, tail=1))

'./in/4_company_sales_data1.csv'

'./in/4_company_sales_data2.csv'

'./in/4_company_attri_data.csv'

In [3]:
# {コード3.29 縦結合}
file_sale2_1='./out_m/df_sale2_1.csv'
#同項目のファイルを結合する場合はnm.mcat()メソッドを使用する.
#  i=パラメータに結合するファイルパスをカンマ区切りの文字列で指定する.
f=None
f<<=nm.mcat(i=','.join([file_sale1_1, file_sale1_2]), o=file_sale2_1)
f.run(msg="on")

display(file_sale2_1, nm.p(file_sale2_1, head=5, tail=1))

#END# kgcat i=./in/4_company_sales_data1.csv,./in/4_company_sales_data2.csv o=./out_m/df_sale2_1.csv; IN=1200 OUT=1200; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_sale2_1.csv'

In [4]:
# {コード3.30 縦結合後の推奨処理}
file_sale2_3='./out_m/df_sale2_3.csv'
#重複行を単一化するにはnm.muniq()メソッドを使用する.
#  k=パラメータに行を単一化する単位となる項目名（複数指定可）を指定する.
f=None
f<<=nm.muniq(i=file_sale2_1, k='企業管理コード,決算期年')
f<<=nm.msortf(f='企業管理コード,決算期年', o=file_sale2_3)
f.run(msg="on")

display(file_sale2_3, nm.p(file_sale2_3, head=5, tail=1))

#END# kguniq i=./out_m/df_sale2_1.csv k=企業管理コード,決算期年; IN=1200 OUT=1034; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kgsortf f=企業管理コード,決算期年 o=./out_m/df_sale2_3.csv; IN=1034 OUT=1034; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_sale2_3.csv'

In [5]:
# {コード3.31 リストを用いた一括読み込み処理}
all_csv_files2 = [file for file in glob(os.path.join('./in/*_sales_*.csv'))]
file_sale2_1a='./out_m/df_sale2_1a.csv'
#同項目の複数ファイルのパスを格納したリストを対象にファイルを結合する場合はnm.m2cat()メソッドを使用する.
#  i=パラメータに対象ファイルパスのリストを指定する.
f=None
f<<=nm.m2cat(i=all_csv_files2, o=file_sale2_1a)
f.run(msg="on")

display(file_sale2_1a, nm.p(file_sale2_1a, head=5, tail=1))

#END# kg2cat i=./in/4_company_sales_data1.csv,./in/4_company_sales_data2.csv o=./out_m/df_sale2_1a.csv; IN=1200 OUT=1200; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_sale2_1a.csv'

In [6]:
# {コード3.32 データの横結合}
file_mer1='./out_m/df_mer1.csv'
#参照ファイルの項目結合にはnm.mjoin()メソッドを使用する.
#  i=パラメータに対象ファイル, m=オプションに参照ファイルを指定し, k=パラメータに結合条件の項目を指定する.
#  N=Trueオプションを指定すると, 入力データにない参照データをNULL値として出力する.
#  n=Trueオプションを指定すると, 参照データにない入力データをNULL値として出力する.
f=None
f<<=nm.mjoin(i=file_sale2_3, m=file_info, k='企業管理コード', n=True, o=file_mer1)
f.run(msg="on")

display(file_mer1, nm.p(file_mer1, head=5, tail=1))

#END# kgjoin -n i=./out_m/df_sale2_3.csv k=企業管理コード m=./in/4_company_attri_data.csv o=./out_m/df_mer1.csv; IN=1034 OUT=1034; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_mer1.csv'

In [7]:
# {コード3.33 売上高と利益の縦構造化}
file_mer1_1='./out_m/df_mer1_1.csv'
#横展開されている項目を行展開するにはnm.mcross()メソッドを利用する.
#  k=パラメータに行の単位となるキー項目, f=パラメータに行展開する項目名, a=項目に行展開後の値をセットする項目名を指定する.
#  nm.mcross()は本来クロス集計のデータ変換を実行するものであるため、事前にダミー軸の項目をnum.setstr()メソッドで作成しておく.
f=None
f<<=nm.msetstr(i=file_mer1, v='Value', a='dummy')
f<<=nm.mcross(k='企業管理コード,決算期年', s='dummy', f='売上高_百万円,利益_千円', a='variable', o=file_mer1_1)
f.run(msg="on")

display(file_mer1_1, nm.p(file_mer1_1, head=5, tail=1))

#END# kgsetstr a=dummy i=./out_m/df_mer1.csv v=Value; IN=1034 OUT=1034; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kgcross a=variable f=売上高_百万円,利益_千円 k=企業管理コード,決算期年 o=./out_m/df_mer1_1.csv s=dummy; IN=1034 OUT=2068; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_mer1_1.csv'

In [8]:
# {コード3.34 区分別の売上高の平均}
file_mer2='./out_m/df_mer2.csv'
#平均値の計算はnm.mavg()メソッドを利用する.
#  k=パラメータに行の単位となるキー項目, f=パラメータに平均値を計算する項目名を指定する.
f=None
f<<=nm.mavg(i=file_mer1, k='決算期年,所在地_都道府県',  f='売上高_百万円')
f<<=nm.mcut(f='決算期年,所在地_都道府県,売上高_百万円', o=file_mer2)
f.run(msg="on")

display(file_mer2, nm.p(file_mer2, head=5, tail=1))

#END# kgavg f=売上高_百万円 i=./out_m/df_mer1.csv k=決算期年,所在地_都道府県; IN=1034 OUT=94; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kgcut f=決算期年,所在地_都道府県,売上高_百万円 o=./out_m/df_mer2.csv; IN=94 OUT=94; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_mer2.csv'

In [9]:
# {コード3.35 データの生成}
col1=['単語',"激安","激安","限定","高速","学習","高速","AI","学習","AI","AI"]
col2=['文章', "D1","D1","D1","D1","D2","D2","D2","D2","D2","D2"]

file_mer3='./out_m/df_mer3.csv'
with open(file_mer3, mode='w') as f:
    for c1,c2 in zip(col1,col2):
        print(','.join([c1,c2]), file=f)

display(file_mer3, nm.p(file_mer3, head=7, tail=1))

'./out_m/df_mer3.csv'

In [10]:
# {コード3.36 文章と単語のクロス集計}
file_mer3_1='./out_m/df_mer3_1.csv'
file_mer3_2='./out_m/df_mer3_2.csv'
#クロス集計するには単位となるキー項目単位にnm.mcount()メソッドで行カウントを集計してから, nm.m2cross()メソッドでクロス展開する.
# nm.mcount()では, k=パラメータに行の単位となるキー項目, a=パラメータに行カウント数をセットする新しい項目名を指定する.
# nm.m2cross()では, k=パラメータに行の単位となるキー項目, f=パラメータに行展開する項目名, f=パラメータに横展開する項目名を指定する.
#   また, v=パラメータに指定した値で横展開後のnull値を保管することができる.
f=None
f<<=nm.mcount(i=file_mer3, k='文章,単語', a='cnt')
f<<=nm.mcal(c='"w_"+$s{単語}', a='w_単語', o=file_mer3_1)
f.run(msg="on")
display(file_mer3_1, nm.p(file_mer3_1, head=5, tail=1))

f=None
f<<=nm.mcut(i=file_mer3_1, r=True, f='単語')
f<<=nm.m2cross(k='文章', s='w_単語', f='cnt', v=0, o=file_mer3_2)
f.run(msg="on")
display(file_mer3_2, nm.p(file_mer3_2, head=5, tail=1))

#END# kgcal a=w_単語 c="w_"+$s{単語} o=./out_m/df_mer3_1.csv; IN=6 OUT=6; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kgcount a=cnt i=./out_m/df_mer3.csv k=文章,単語; IN=10 OUT=6; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_mer3_1.csv'

#END# kgcut -r f=単語 i=./out_m/df_mer3_1.csv; IN=6 OUT=6; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kg2cross f=cnt k=文章 o=./out_m/df_mer3_2.csv s=w_単語 v=0; IN=6 OUT=2; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_mer3_2.csv'

In [11]:
# {コード3.37 クロス集計の小計と規格化}

#(1) 小計をall として出力
file_mer3_3a='./out_m/df_mer3_3a.csv'
file_mer3_3b='./out_m/df_mer3_3b.csv'

# 単語を単位とした集計データ生成（列小計用）
f=None
f<<=nm.mcut(i=file_mer3_1, r=True, f='文章')
f<<=nm.msum(k='単語', f='cnt')
f<<=nm.msetstr(a='文章', v='all', o=file_mer3_3a)
f.run(msg="on")
display(file_mer3_3a, nm.p(file_mer3_3a, head=5, tail=1))

# 単語単位の集計データを結合してクロス展開
# 行単位の集計はクロス展開後にnm.mcal()メソッドのsum()関数で計算
f=None
f<<=nm.m2cat(i=[file_mer3_1,file_mer3_3a])
f<<=nm.mcut(r=True, f='単語')
f<<=nm.m2cross(k='文章', s='w_単語', f='cnt', v=0)
f<<=nm.mcal(c='sum(${w_*})', a='all', o=file_mer3_3b)
f.run(msg="on")
display(file_mer3_3b, nm.p(file_mer3_3b, head=5, tail=1))

#END# kgcut -r f=文章 i=./out_m/df_mer3_1.csv; IN=6 OUT=6; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kgsum f=cnt k=単語; IN=6 OUT=5; 2021/05/18 19:09:59; 2021/05/18 19:09:59
#END# kgsetstr a=文章 o=./out_m/df_mer3_3a.csv v=all; IN=5 OUT=5; 2021/05/18 19:09:59; 2021/05/18 19:09:59

'./out_m/df_mer3_3a.csv'

#END# kgcut -r f=単語; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cat i=./out_m/df_mer3_1.csv,./out_m/df_mer3_3a.csv; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cross f=cnt k=文章 s=w_単語 v=0; IN=11 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgcal a=all c=sum(${w_*}) o=./out_m/df_mer3_3b.csv; IN=3 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_3b.csv'

In [12]:
#(2) 全体が1になるように規格化
file_mer3_4a='./out_m/df_mer3_4a.csv'
file_mer3_4b='./out_m/df_mer3_4b.csv'
file_mer3_4c='./out_m/df_mer3_4c.csv'

# nm.mshare()メソッドを使用して構成比を算出
#    全体からの構成比を求めるため, k=パラメータの指定は不要
f=None
f<<=nm.mshare(i=file_mer3_1, f='cnt:cnt_s', o=file_mer3_4a)
f.run(msg="on")
display(file_mer3_4a, nm.p(file_mer3_4a, head=5, tail=1))

# 単語を単位とした集計データ生成（列小計用）
f=None
f<<=nm.mcut(i=file_mer3_4a, r=True, f='文章')
f<<=nm.msum(k='単語', f='cnt,cnt_s')
f<<=nm.msetstr(a='文章', v='all', o=file_mer3_4b)
f.run(msg="on")
display(file_mer3_4b, nm.p(file_mer3_4b, head=5, tail=1))

# 単語単位の集計データを結合してクロス展開
# 行単位の集計はクロス展開後にnm.mcal()メソッドのsum()関数で計算
f=None
f<<=nm.m2cat(i=[file_mer3_4a,file_mer3_4b])
f<<=nm.mcut(r=True, f='cnt,単語')
f<<=nm.m2cross(k='文章', s='w_単語', f='cnt_s', v=0)
f<<=nm.mcal(c='sum(${w_*})', a='all', o=file_mer3_4c)
f.run(msg="on")
display(file_mer3_4c, nm.p(file_mer3_4c, head=5, tail=1))

#END# kgshare f=cnt:cnt_s i=./out_m/df_mer3_1.csv o=./out_m/df_mer3_4a.csv; IN=6 OUT=6; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_4a.csv'

#END# kgcut -r f=文章 i=./out_m/df_mer3_4a.csv; IN=6 OUT=6; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsum f=cnt,cnt_s k=単語; IN=6 OUT=5; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsetstr a=文章 o=./out_m/df_mer3_4b.csv v=all; IN=5 OUT=5; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_4b.csv'

#END# kgcut -r f=cnt,単語; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cat i=./out_m/df_mer3_4a.csv,./out_m/df_mer3_4b.csv; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cross f=cnt_s k=文章 s=w_単語 v=0; IN=11 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgcal a=all c=sum(${w_*}) o=./out_m/df_mer3_4c.csv; IN=3 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_4c.csv'

In [13]:
#(3) 行合計が1になるように規格化
file_mer3_5a='./out_m/df_mer3_5a.csv'
file_mer3_5b='./out_m/df_mer3_5b.csv'
file_mer3_5c='./out_m/df_mer3_5c.csv'

# 単語を単位とした集計データ生成（列小計用）
f=None
f<<=nm.mcut(i=file_mer3_1, r=True, f='文章')
f<<=nm.msum(k='単語', f='cnt')
f<<=nm.msetstr(a='文章', v='all', o=file_mer3_5a)
f.run(msg="on")
display(file_mer3_5a, nm.p(file_mer3_5a, head=5, tail=1))

# nm.mshare()メソッドを使用して構成比を算出
#    クロス展開後の行単位（文章単位）の構成比を求めるため, k=パラメータに行のキー項目（'文章'）を指定
#    単語単位の小計データを事前に結合しておく
f=None
f<<=nm.m2cat(i=[file_mer3_1,file_mer3_5a])
f<<=nm.mshare(k='文章', f='cnt:cnt_s', o=file_mer3_5b)
f.run(msg="on")
display(file_mer3_5b, nm.p(file_mer3_5b, head=10, tail=1))

# 単語単位の集計データを結合してクロス展開
# 行単位の集計はクロス展開後にnm.mcal()メソッドのsum()関数で計算
f=None
f<<=nm.m2cat(i=[file_mer3_5b])
f<<=nm.mcut(r=True, f='cnt,単語')
f<<=nm.m2cross(k='文章', s='w_単語', f='cnt_s', v=0)
f<<=nm.mcal(c='sum(${w_*})', a='all', o=file_mer3_5c)
f.run(msg="on")
display(file_mer3_5c, nm.p(file_mer3_5c, head=5, tail=1))

#END# kgcut -r f=文章 i=./out_m/df_mer3_1.csv; IN=6 OUT=6; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsum f=cnt k=単語; IN=6 OUT=5; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsetstr a=文章 o=./out_m/df_mer3_5a.csv v=all; IN=5 OUT=5; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_5a.csv'

#END# kg2cat i=./out_m/df_mer3_1.csv,./out_m/df_mer3_5a.csv; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgshare f=cnt:cnt_s k=文章 o=./out_m/df_mer3_5b.csv; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_5b.csv'

#END# kgcut -r f=cnt,単語; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cat i=./out_m/df_mer3_5b.csv; IN=11 OUT=11; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgcal a=all c=sum(${w_*}) o=./out_m/df_mer3_5c.csv; IN=3 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cross f=cnt_s k=文章 s=w_単語 v=0; IN=11 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_5c.csv'

In [14]:
#(4) 列合計が1になるように規格化
file_mer3_6a_='./out_m/df_mer3_6a_.csv'
file_mer3_6a='./out_m/df_mer3_6a.csv'
file_mer3_6b='./out_m/df_mer3_6b.csv'
file_mer3_6c='./out_m/df_mer3_6c.csv'

# クロス展開後の行集計（単語単位）の構成比も算出することになるため事前に行単位（文章単位）の小計を算出しておく
f=None
f<<=nm.mcut(i=file_mer3_1, r=True, f='単語,w_単語')
f<<=nm.msum(k='文章', f='cnt')
f<<=nm.msetstr(a='単語,w_単語', v='all,all',o=file_mer3_6a_) #後続の縦結合用に項目を揃えておく
f.run(msg="on")
display(file_mer3_6a_, nm.p(file_mer3_6a_, head=5, tail=1))

# nm.mshare()メソッドを使用して構成比を算出
#    クロス展開後の列単位（単語単位）の構成比を求めるため, k=パラメータに列のキー項目（'単語'）を指定
#    文章単位の小計データを事前に結合しておく
f=None
f<<=nm.m2cat(i=[file_mer3_1,file_mer3_6a_])
f<<=nm.mshare(k='単語', f='cnt:cnt_s', o=file_mer3_6a)
f.run(msg="on")
display(file_mer3_6a, nm.p(file_mer3_6a, head=7, tail=1))

# 単語を単位とした集計データ生成（列小計用）
f=None
f<<=nm.mcut(i=file_mer3_6a, r=True, f='文章')
f<<=nm.msum(k='単語', f='cnt,cnt_s')
f<<=nm.msetstr(a='文章', v='all', o=file_mer3_6b)
f.run(msg="on")
display(file_mer3_6b, nm.p(file_mer3_6b, head=5, tail=1))

# 単語単位の集計データを結合してクロス展開
# 行単位の集計はクロス展開後にnm.mcal()メソッドのsum()関数で計算
f=None
f<<=nm.m2cat(i=[file_mer3_6a,file_mer3_6b])
f<<=nm.mcut(r=True, f='cnt,単語')
f<<=nm.m2cross(k='文章', s='w_単語', f='cnt_s', v=0)
f<<=nm.mcut(f='文章,w_*,all', o=file_mer3_6c)
f.run(msg="on")
display(file_mer3_6c, nm.p(file_mer3_6c, head=5, tail=1))

#END# kgcut -r f=単語,w_単語 i=./out_m/df_mer3_1.csv; IN=6 OUT=6; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsetstr a=単語,w_単語 o=./out_m/df_mer3_6a_.csv v=all,all; IN=2 OUT=2; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsum f=cnt k=文章; IN=6 OUT=2; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_6a_.csv'

#END# kg2cat i=./out_m/df_mer3_1.csv,./out_m/df_mer3_6a_.csv; IN=8 OUT=8; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgshare f=cnt:cnt_s k=単語 o=./out_m/df_mer3_6a.csv; IN=8 OUT=8; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_6a.csv'

#END# kgcut -r f=文章 i=./out_m/df_mer3_6a.csv; IN=8 OUT=8; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsum f=cnt,cnt_s k=単語; IN=8 OUT=6; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgsetstr a=文章 o=./out_m/df_mer3_6b.csv v=all; IN=6 OUT=6; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_6b.csv'

#END# kgcut -r f=cnt,単語; IN=14 OUT=14; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cat i=./out_m/df_mer3_6a.csv,./out_m/df_mer3_6b.csv; IN=14 OUT=14; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kgcut f=文章,w_*,all o=./out_m/df_mer3_6c.csv; IN=3 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00
#END# kg2cross f=cnt_s k=文章 s=w_単語 v=0; IN=14 OUT=3; 2021/05/18 19:10:00; 2021/05/18 19:10:00

'./out_m/df_mer3_6c.csv'